<div class="dropdown-menu"
	  [class.open]="isMenuOpen()">
	<a routerLink="/solutions/ai"
		routerLinkActive="active"
		class="mobile-only">AI SOLUTIONS</a>
	<a routerLink="/solutions/ai"
		routerLinkActive="active"
		class="mobile-only">DIGITAL SOLUTIONS</a>
	<a routerLink="/contact"
		routerLinkActive="active"
		class="mobile-only">CONTACT US</a>
	<a routerLink="/about"
		routerLinkActive="active">ABOUT US</a>
	<a routerLink="/login"
		routerLinkActive="active">LOGIN</a>
	<!-- <a
		routerLink="/dashboard"
		routerLinkActive="active">DASHBOARD</a> -->
</div>