:host {
	scroll-snap-type: y mandatory;
	scroll-snap-stop: always;

	// Make each section snap to the top
	>* {
		scroll-snap-align: start;
	}
}

.filler {
	height: 10rem;
	width: 100%;
	background: black;
}