.hero-section {
  text-align: center;
  padding: 12rem 2rem;
  color: #fff;
  // backdrop-filter: blur(20px);
  box-shadow: 0 1rem 3rem 0 rgba(0,0,0,0.5);
  display: flex;

  .hero-text-block {
    flex: 50%;;
  }

  .hero-visual {
    flex: 50%;
  }
}

.features-section {
  background: rgba(0,0,0,0.6);
  color: #fff;
  padding: 4rem 2rem;
}

.cta-section {
  background: rgba(0,0,0,0.05);
  color: #fff;
  text-align: center;
  padding: 3rem 2rem;
}

.cta-btn {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.75rem 2.5rem;
  background: #2b6cb0;
  color: #fff;
  border-radius: 2rem;
  font-size: 1.2rem;
  text-decoration: none;
  transition: background 0.2s;
}

.cta-btn:hover {
  background: #1a365d;
}
