.sections-wrapper {
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;

	// Make each section snap to the top
	>*:not(flaux-footer) {
		scroll-snap-align: start;
		min-height: 100vh; // Ensure each section takes at least full viewport height
	}
}

.filler {
	height: 10rem;
	width: 100%;
	background: black;
}