:host {
	display: flex;
	flex: 1;
}

.lottie-wrapper {
	flex: 1;
	position: relative;
	display: flex;
	align-items: center;
	margin-inline: 1rem 0rem;

	&.mask-fade {
		/* mask fade (works in modern browsers) */
		-webkit-mask-image: linear-gradient(to bottom,
				transparent 2%,
				black 45%,
				black 55%,
				transparent 98%);
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-size: cover;

		mask-image: linear-gradient(to bottom,
				transparent 2%,
				black 45%,
				black 55%,
				transparent 98%);
		mask-repeat: no-repeat;
		mask-size: cover;
	}
}

.lottie-container {
	width: clamp(21rem, 100%, 48rem);
	height: auto;
}