{
  "tabWidth": 2,
  "useTabs": false,
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 120,
  "multiLineHTML": true,
  "html": {
    "wrapAttributes": "force-aligned",
    "endOfLine": "lf"
  }
}
