@use '@angular/material' as mat;
@use 'variables' as *;
@use 'mixins' as mixins;

:host {
	display: block;
	@include mixins.pattern-background('white-diamond-dark',
		radial-gradient(circle at 5% 0%, $flaux-blue, $flaux-violet 80%),
		auto,
		overlay);
}

::selection {
	background: $flaux-blue;
	color: #000;
}

/* ----------------------------------- // ----------------------------------- */

flaux-section {
	color: #eee !important;
}

.contact-container {
	padding: 5rem 2rem;
	max-width: 1800px;
	margin: 0 auto;
}

.section-header {
	text-align: center;
	margin-bottom: 4rem;

	h3 {
		font-family: 'hello america';
		font-weight: 100;
		background: linear-gradient(135deg, $flaux-yellow, $flaux-salmon);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		margin-bottom: 1rem;


		.ai {
			font-family: 'Lequire';
			-webkit-text-fill-color: white;
			font-size: 1.5em;
			position: relative;
			bottom: -.05em;
		}
	}

	p {
		font-size: 1.2em;
		color: #ddd;
		max-width: 66%;
		margin: 0 auto;
	}
}

.contact-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 3rem;
	align-items: start;
}

.contact-info {
	h5 {
		// font-size: 1.5rem;
		// white-space: nowrap;
		font-weight: 300;
		margin-bottom: 2rem;
	}
}

.benefits-list {
	display: grid;
	gap: 3em;
}

.benefit {
	display: flex;
	align-items: flex-start;
	gap: 1rem;

	.benefit-icon {
		font-size: 1.5rem;
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: linear-gradient(160deg, $flaux-blue2, $flaux-violet);
		border-radius: 50%;
		flex-shrink: 0;
	}

	h4 {
		font-size: 1.25rem;
		font-family: 'Montserrat', sans-serif;
		font-variant: all-small-caps;
		margin: 0.2em 0 0.5em 0;
	}

	p {
		margin: 0;
		font-weight: 200;
		line-height: 1.5;
	}
}

/* -------------------------------------------------------------------------- */
/*                                    FORM                                    */
/* -------------------------------------------------------------------------- */

.contact-form {
	font-size: 95%;
	color: #eee;
	--mat-sys-label-medium-size: 0.66rem;
	color-scheme: dark;
	background: rgba(black, 0.45);
	backdrop-filter: blur(1em) brightness(1.2) contrast(1.3);
	border-radius: 1rem;
	padding: 2rem;
	box-shadow: .25em .5em 1.5em rgba(0, 0, 0, 0.7);

	form {
		display: flex;
		flex-direction: column;
		gap: .5rem;

		--mat-form-field-subscript-text-size: 0.7em;
		--mat-sys-error: light-dark(#ba1a1a, #ff9488);

	}
}

.form-row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

.form-field {
	display: flex;
	flex-direction: column;
	@include mat.slider-overrides((active-track-color: $flaux-blue,
			inactive-track-height: 0.25em,
			active-track-height: 0.5em,
			handle-color: $flaux-blue2,
			with-tick-marks-container-size: 0.25em,
			with-tick-marks-inactive-container-color: #999));

	&.slider {
		width: 100%;
		max-width: 35em;
		align-self: center;
		font-size: 0.9em;
		;

		.slider-labels {
			display: flex;
			justify-content: space-between;

			span {
				font-family: 'Sen', sans-serif;
				color: $flaux-blue;
			}
		}
	}
}

.submit-button {
	background: linear-gradient(135deg, $flaux-blue, $flaux-blue3);
	color: white;
	// border: none;
	padding: 1.25rem 2rem;
	font-size: 1.25rem;
	font-family: 'Montserrat', sans-serif;
	font-variant: all-small-caps;
	letter-spacing: 0.1em;
	font-weight: 500;
	opacity: 1;
	transition: transform 0.5s ease, box-shadow 0.5s ease, opacity 0.5s ease, filter 1s ease;
	margin-top: 1rem;

	&:disabled {
		opacity: 0.5;
		filter: saturate(0.33) contrast(0.5);
		cursor: not-allowed;
	}
}

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */

@media screen and (max-width: 900px) {
	.contact-container {
		padding: 7em 1em 2em;
	}

	.section-header h2 {
		font-size: 2.5rem;
	}

	.contact-content {
		grid-template-columns: 1fr;
		gap: 4rem;
	}

	.contact-info {
		.benefits-list {
			grid-template-columns: repeat(2, 1fr);
			gap: 1em;
		}

		h3 {
			font-size: 1.75rem;
		}
	}

	.form-row {
		grid-template-columns: 1fr;
	}

	.contact-form {
		padding: 2rem 2rem 5em;
		border-radius: 0;
		margin-left: -1em;
		margin-right: -1em;
		margin-bottom: -2em;
	}
}