@use 'variables' as *;

:host {
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	height: 100vh;
}

/* ----------------------------------- // ----------------------------------- */

.agency-hero-section {
	height: 100vh;
	display: flex;
	align-items: center;
	color: white;
	overflow: hidden;
	font-family: "Montserrat", sans-serif;
	text-align: center;
	gap: 9em;
	scroll-snap-align: start;
	scroll-snap-stop: always;

	flaux-blob-backdrop {
		flex: 5;
		overflow: visible !important;
	}

	.hero-heading {
		flex: 4;
		position: relative;
		z-index: 3;
		text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.7);
		text-align: end;

		h1, h2, h3, h4 {
			text-shadow: 1px 1px 1.3rem rgba(0, 0, 0, 0.8);
			margin: 0;
			font-weight: 400;

			.ast-icon {
				max-width: .5em;
				margin-bottom: 0.5em;
				filter: invert(1) drop-shadow(1px 1px 0.75rem rgba(0, 0, 0, 0.7));
			}
		}

		p {
			margin-top: 2em;
			line-height: 1.75em;
		}
	}
}

/* ----------------------------------- // ----------------------------------- */

.content-section {
	position: relative;
	z-index: 3;
	color: white;
	padding: 13em 3em !important;
	margin-block: -7em;
	overflow: visible;
	min-height: 100vh;
	scroll-snap-align: start;
	scroll-snap-stop: always;
	display: flex;
	align-items: center;
}

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */

@media (min-width: 1800px) {
	.agency-hero-section, .content-section {
		max-width: 1700px;
		margin: auto;
	}
}