@use 'variables' as *;

:host {
	display: block;
}

/* ----------------------------------- // ----------------------------------- */

.agency-hero-section {
	height: 100vh;
	display: flex;
	// justify-content: center;
	align-items: center;
	color: white;
	overflow: hidden;
	font-family: "Montserrat", sans-serif;
	text-align: center;
	gap: 9em;

	flaux-blob-backdrop {
		flex: 5;
		overflow: visible !important;
	}

	.hero-heading {
		flex: 4;
		position: relative;
		z-index: 3;
		// padding-inline: 2em;
		text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.7);
		// margin-right: 50%;
		// max-width: 33rem;
		text-align: end;

		h1, h2, h3, h4 {
			text-shadow: 1px 1px 0.5em rgba(0, 0, 0, 0.8);
			margin: 0;
			font-weight: 400;
		}

		p {
			margin-top: 2em;
			line-height: 1.75em;
		}
	}
}

/* ----------------------------------- // ----------------------------------- */

.content-section {
	position: relative;
	z-index: 3;
	color: white;
	text-align: center;
	display: flex;

	.image-container {
		flex: 4;
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 100%;
		}
	}

	.section-heading {
		flex: 3;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.icon {
		display: inline-block;
		width: 1em;
		height: 1em;
		background-color: white;
		mask: url('../../../../assets/img/icons/ai1.svg') no-repeat center;
		mask-size: contain;
		-webkit-mask: url('../../../../assets/img/icons/ai1.svg') no-repeat center;
		-webkit-mask-size: contain;
	}
}

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */

@media (min-width: 1800px) {
	.agency-hero-section {
		max-width: 1700px;
		margin: auto;
		// padding-inline: 0 !important;
	}
}