@use 'variables' as *;

:host {
	display: block;
}

.agency-hero-section {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	overflow: hidden;
	font-family: "Montserrat", sans-serif;
	text-align: center;
	background: linear-gradient(-45deg,
			$flaux-navy,
			$flaux-blue,
			$flaux-purple,
			$flaux-pink,
			$flaux-orange,
			$flaux-yellow);
	background-size: 400% 400%;
	animation: gradientFlow 15s ease infinite;
}

.agency-hero-section::after {
	content: "";
	position: absolute;
	inset: 0;
	pointer-events: none;
	background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");
	opacity: 1;
	transform: scale(1.5);
	z-index: 1;
	mix-blend-mode: overlay;
}

flaux-blob-backdrop {
	position: absolute;
	// inset: 0;
	// margin: auto;
	width: 50%;
	margin-left: 33%;
	z-index: 2;

}

.hero-header {
	margin-right: 33%;
	position: relative;
	z-index: 3;

	h1 {
		font-size: clamp(2rem, 2rem + 2.2vw, 6rem);
		text-shadow: 1px 1px 0.5em rgba(0, 0, 0, 0.8);
		margin: 0;
	}
}



@keyframes gradientFlow {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}
