<ai-solutions-hero-section></ai-solutions-hero-section>
<ai-solutions-capabilities-section></ai-solutions-capabilities-section>
<!-- <ai-solutions-process-section></ai-solutions-process-section> -->
<!-- <ai-solutions-industries-section></ai-solutions-industries-section> -->
<!-- <ai-solutions-contact-section></ai-solutions-contact-section> -->
<privacy-confirmed-section></privacy-confirmed-section>
@defer (on viewport) {
<cta-section></cta-section>
} @placeholder {
<div>Loading...</div>
}
<flaux-footer></flaux-footer>