:host {
	--background-color: #111 !important;

	// Make each section snap to the top
	>*:not(flaux-footer) {
		// scroll-snap-align: start;
	}

	>*:not(ai-solutions-hero-section) {
		max-width: 1600px;
		justify-self: center;
	}
}

/* ----------------------------------- // ----------------------------------- */

cta-section {
	min-height: 70vh !important;
}