@use 'variables' as *;

:host {

	// Make each section snap to the top
	>*:not(flaux-footer) {
		scroll-snap-align: start;
	}
}

/* ----------------------------------- // ----------------------------------- */

cta-section {
	min-height: 70vh !important;
}