<flaux-section>
	<div class="video-container">
		<flaux-bg-video [name]="'flaux-test'"
							 [relative]="true"></flaux-bg-video>
	</div>
	<div class="content-container">
		<div class="content-txt">
			<h3>AI Solutions</h3>
			<p>Empowering Your Business with Tailored AI Solutions</p>

		</div>

	</div>
	<!-- <div class="laser-wrapper">
		<app-laser-flow [color]="'#FAAE51'"
							 [decay]="2.5"
							 [fogFallSpeed]="1.2"
							 [fogIntensity]="0.2"
							 [flowSpeed]=".4"
							 [flowStrength]="0.3"
							 [horizontalBeamOffset]="-0.0004"
							 [horizontalSizing]="1"
							 [verticalBeamOffset]="-0.503"
							 [verticalSizing]="25">
		</app-laser-flow>
	</div> -->
</flaux-section>