<div class="dropdown-menu"
	  [class.open]="isMenuOpen()">
	<a routerLink="/solutions/ai"
		routerLinkActive="active"
		class="mobile-only"
		(click)="onLinkClick()">AI SOLUTIONS</a>
	<a routerLink="/solutions/agency"
		routerLinkActive="active"
		class="mobile-only"
		(click)="onLinkClick()">DIGITAL SOLUTIONS</a>
	<a routerLink="/contact"
		routerLinkActive="active"
		class="mobile-only"
		(click)="onLinkClick()">CONTACT US</a>
	<a routerLink="/about"
		routerLinkActive="active"
		(click)="onLinkClick()">ABOUT US</a>
	<a routerLink="/login"
		routerLinkActive="active"
		(click)="onLinkClick()">LOGIN</a>
	<!-- <a
		routerLink="/dashboard"
		routerLinkActive="active"
		(click)="onLinkClick()">DASHBOARD</a> -->
</div>