@use 'variables' as *;

:host {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	scroll-snap-align: none; // Navbar should not be a snap point
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0rem;
	height: 4em;
	backdrop-filter: brightness(1.1) blur(10px) contrast(0.95);
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
	position: relative;
	z-index: 1000;
}

.navbar-left {
	display: flex;
	align-items: center;
	padding-left: 1rem;
}

.text-logo-wrapper {
	display: flex;
	align-items: center;
	font-size: 2.5em;
	font-family: 'Sen', sans-serif;
	color: #fff;
	text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
	letter-spacing: 0.05em;
}

// .a-with-macron {
//   text-decoration: overline;
//   text-decoration-color: $highlight;
//   text-decoration-thickness: 0.10em;
//   text-decoration-skip-ink: none;
//   position: relative;
//   left: 0.1rem;
//   top: 0.3rem;
// }

.logo-navbar {
	width: 4rem;
	height: auto;
	margin-right: 1rem;
	// filter: brightness(0.2) invert(1) saturate(0) opacity(0.5);
	padding-bottom: 0.2rem;
}

.navbar-center {
	display: flex;
	// gap: 3rem;
	height: 100%;
}

.navbar-center a {
	color: #fff;
	text-decoration: none;
	font-size: 1em;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	transition: color 0.2s;
	cursor: pointer;
	height: 100%;
	align-content: center;
	padding-inline: 2rem;
	text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.7);
}

.navbar-center a:hover {
	color: $flaux-highlight;
	background: rgba(255, 255, 255, 0.09);
	// filter: brightness(1.1) contrast(1.5);
	transition: background-color 0.6s, color 0.6s;
}

.navbar-right {
	position: relative;
	display: flex;
	align-items: center;
}

.dropdown-trigger {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 4rem;
	height: 4rem;
	background: transparent;
	border: none;
	cursor: pointer;
	gap: 6px;
	z-index: 100;
	padding: 1rem;

}

.dropdown-trigger span {
	display: block;
	height: 0.2em;
	width: 100%;
	background: #fff;
	border-radius: 1px;
	transition: all 0.3s;
}

@media screen and (max-width: 1150px) {
	.navbar-center a {
		font-size: 0.75em;
		padding-inline: 1.5rem;
	}

}

@media (max-width: 900px) {
	.navbar-center {
		display: none;
	}

	.navbar {}
}