:host {
  display: block;
  width: inherit;
  height: 90%;
}

.hero-section {
  text-align: center;
  color: #fff;
  // backdrop-filter: blur(20px);
  box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // filter: brightness(0.85);
  mix-blend-mode: plus-lighter;
  height: -webkit-fill-available;
  position: relative;
  overflow: hidden;
  padding-top: 5rem;
  z-index: 1;

  flaux-bg2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
  }

  .hero-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 30px rgba(0, 0, 0, 0.33);
    filter: drop-shadow(1px 1px 30px rgba(0, 0, 0, 0.76)) contrast(1.5)
      brightness(3) opacity(0.9);
    color: rgba(255, 255, 255, 0.8);
    z-index: 1;

    &::before {
      content: "";
      background-color: #ffffffa8;
      padding: 0 1rem;
      filter: brightness(0.5) blur(2.5rem) opacity(0.5);
      width: 100%;
      height: 5em;
      position: absolute;
      display: block;
      place-self: center;
      left: -1rem;
    }
  }

  .hero-subtitle {
    position: relative;
    letter-spacing: 0.25em;
    font-family: Lato;
    font-variant: all-small-caps;
    text-shadow: 1px 1px 30px rgba(0, 0, 0, 0.66);
    filter: opacity(0.95) brightness(1.5)
      drop-shadow(1px 1px 30px rgba(0, 0, 0, 0.76)) contrast(1.5);

    &::before {
      content: "";
      background-color: #ffffffa8;
      padding: 0 1rem;
      filter: brightness(0.5) blur(2rem) opacity(0.5);
      width: 100%;
      height: 1em;
      position: absolute;
      display: block;
      place-self: center;
      bottom: 0rem;
      left: -1rem;
    }
  }

  .hero-text {
    font-family: "Montserrat";
    letter-spacing: 0.2rem;
    position: absolute;
    bottom: 1.5em;
    font-size: 1.25em;
    justify-self: center;
    filter: drop-shadow(2px 2px 9px rgba(255, 255, 255, 0.25)) brightness(1.5)
      opacity(0.9);
  }
}
