<section class="hero-section">
	<flaux-hls [style]="{ filter: 'brightness(0.85)' }"
				  [hlsUrl]="hlsUrl"
				  [posterUrl]="posterUrl"></flaux-hls>
	<div class="hero-content">
		<div class="hero-title">
			<h1>
				<flaux-fn italicText="ƒlow"
							 fnText="FAUX INTELLIGENCE"></flaux-fn>
			</h1>
		</div>
		<div style="justify-items: center">
			<h4 class="hero-subtitle">Nature Flows. Business Flauxs.</h4>
			<h6 class="hero-text">Your AI Supercharged Digital Agency</h6>
		</div>
		<div class="hero-visual"></div>
	</div>
</section>