<flaux-section [flexDirection]="'column'">
	<div class="hero-video-wrapper">
		<flaux-hls [style]="{ filter: 'brightness(0.85)' }"
					  [hlsUrl]="hlsUrl"
					  [posterUrl]="posterUrl"></flaux-hls>
		<div class="hero-content">
			<div class="hero-title">
				<h1>
					<flaux-fn italicText="ƒlow"
								 fnText="FAUX INTELLIGENCE"></flaux-fn>
				</h1>
			</div>
			<h4 class="hero-subtitle">Nature Flows. Business Flauxs.</h4>
		</div>
	</div>
	<div class="hero-text">
		<p>Your AI Supercharged Digital Agency</p>
	</div>
</flaux-section>