:host {
	display: block;
	width: inherit;
	// height: 90%;
}

.hero-section {
	text-align: center;
	color: #fff;
	background-color: black;
	box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	// filter: brightness(0.85);
	// mix-blend-mode: plus-lighter;
	height: calc(100vh - 5rem);
	position: relative;
	overflow: hidden;
	padding-top: 5rem;
	z-index: 1;

	flaux-bg2 {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: black;
	}

	.hero-content {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		mix-blend-mode: plus-lighter;
	}

	.hero-title {
		display: flex;
		align-items: center;
		justify-content: center;
		text-shadow: 1px 1px 1.5em rgba(0, 0, 0, 0.8);
		filter: contrast(1.3) brightness(1.5) opacity(0.75);
		color: rgba(255, 255, 255, 0.85);
		z-index: 1;

		h1 {
			flaux-fn {
				font-size: clamp(1rem, 6vw, 7vw);
				white-space: nowrap;
			}
		}

		&::before {
			content: "";
			background-color: #ffffffa8;
			padding: 0 1rem;
			filter: brightness(0.8) blur(2rem) opacity(0.7);
			width: 105%;
			height: 1.5em;
			position: absolute;
			display: block;
			place-self: center;
			left: -5%;
		}
	}

	.hero-subtitle {
		position: relative;
		letter-spacing: 0.25em;
		font-variant: all-small-caps;
		text-shadow: 1px 1px 0.1em rgba(0, 0, 0, 1);
		filter: contrast(1.3) brightness(1.5) opacity(0.7);

		&::before {
			content: "";
			background-color: #ffffffa8;
			padding: 0 1rem;
			filter: brightness(0.33) blur(1.5rem) opacity(0.7);
			width: 100%;
			height: 1em;
			position: absolute;
			display: block;
			place-self: center;
			bottom: 0rem;
			left: -1rem;
		}
	}

	.hero-text {
		font-family: "Raleway", sans-serif;
		font-weight: 300;
		letter-spacing: 0.2rem;
		position: absolute;
		bottom: 1.5em;
		font-size: 1em;
		justify-self: center;
		filter: drop-shadow(2px 2px 9px rgba(255, 255, 255, 0.25)) brightness(1.5) opacity(0.9);
	}
}
