:host {
	display: block;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}

/* ----------------------------------- // ----------------------------------- */

.hero-video-wrapper {
	position: relative;
	width: 100%;
	height: 100dvh;
	display: flex;
	flex-direction: column;
}

.hero-content {
	display: flex;
	flex-direction: column;
	position: absolute;
	align-items: center;
	justify-content: center;
	text-align: center;
	mix-blend-mode: plus-lighter;
	color: #fff;
	background-color: black;
	box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.5);
	overflow: hidden;
	z-index: 1;
	width: 100%;
	height: 100%;
}

.hero-title {
	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow: 1px 1px 1.5em rgba(0, 0, 0, 0.8);
	filter: contrast(1.3) brightness(1.5) opacity(0.75);
	color: rgba(255, 255, 255, 0.85);
	z-index: 1;

	h1 {
		flaux-fn {
			font-size: clamp(1rem, 5.5vw, 1.7em);
			white-space: nowrap;
		}
	}

	&::before {
		content: "";
		background-color: #ffffffa8;
		padding: 0 1rem;
		filter: brightness(0.8) blur(2rem) opacity(0.7);
		width: 105%;
		height: 1.5em;
		position: absolute;
		display: block;
		place-self: center;
		left: -5%;
	}
}

.hero-subtitle {
	position: relative;
	letter-spacing: 0.25em;
	font-variant: all-small-caps;
	text-shadow: 1px 1px 0.1em rgba(0, 0, 0, 1);
	filter: contrast(1.3) brightness(1.5) opacity(0.7);

	&::before {
		content: "";
		background-color: #ffffffa8;
		padding: 0 1rem;
		filter: brightness(0.33) blur(1.5rem) opacity(0.7);
		width: 100%;
		height: 1em;
		position: absolute;
		display: block;
		place-self: center;
		bottom: 0rem;
		left: -1rem;
	}
}

.hero-text {
	position: absolute;
	align-content: center;
	justify-self: center;
	text-align: center;
	font-family: "Plus Jakarta Sans", sans-serif;
	backdrop-filter: blur(1em) brightness(0.8);
	letter-spacing: 0.2rem;
	font-weight: 400;
	font-size: clamp(0.5rem, 3.2vw, 1rem);
	width: 100%;
	bottom: 0;
	height: 3.2em;

	p {
		margin: 0;
	}
}

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */

@media screen and (max-width: 768px) {
	.hero-title h1 flaux-fn {
		font-size: 7vw;
	}

	.hero-subtitle {
		width: 13em;
	}


}

@media screen and (max-aspect-ratio: 3/4) {
	.hero-text {}
}