@use 'variables' as *;

@keyframes pulse {
	0% {
		transform: scale(1) perspective(1px);
		opacity: 0.9;
	}

	50% {
		transform: scale(1.02) perspective(10px);
		opacity: 1;
	}

	100% {
		transform: scale(1) perspective(1px);
		opacity: 0.9;
	}
}

.btn-wrapper {
	z-index: 10;
	color: rgba(255, 255, 255, 0.8);
	font-weight: normal;
	font-size: 95%;
	font-family: 'Montserrat', sans-serif !important;
	text-shadow: 1px 1px 12px rgba(200, 255, 255, 0.72);

}

.flaux-btn {
	// white-space: nowrap;
	display: inline-block;
	align-content: center;
	height: var(--height, 3em);
	padding-inline: 2rem;
	padding-block: 0.5em;
	border-radius: 2em;
	backdrop-filter: blur(4px);
	background: url('../../../assets/img/svgexport-5.svg') no-repeat center center;
	box-shadow: 0 4px 1.3rem rgba(0, 0, 0, 0.33);
	color: #fff;
	text-align: center;
	text-decoration: none;
	text-shadow: 0.1em 0.1em 0.8em rgba(0, 0, 0, 0);
	animation: pulse 3s ease-in-out infinite;
	filter: saturate(0.76) hue-rotate(var(--backgroundColor, 40deg));
	transition: all 0.7s ease-in-out;

	&:hover {
		transform: scale(1.03);
		border: 1px solid rgba(255, 255, 255, 0.66);
		background: #{rgba(#333, 0.5)};
		// background-blend-mode: soft-light;
		box-shadow: 1px 1px 1em #ffffffa9;
		cursor: pointer;
		filter: brightness(1.2) contrast(1.4) saturate(1.3);
		// animation: none;
		transition: all 0.1s ease-in-out;
	}

	&:active {
		transform: scale(0.99);
		backdrop-filter: blur(12px) brightness(1.8);
		box-shadow: 0.1em 0.1em 0.8em #aaa;
		transition: all 0.1s ease-in-out;
	}
}
