@use 'variables' as *;

:host {
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--width, 100%);
	max-width: 100%;
	height: var(--height, auto);
}

@keyframes pulse {
	0% {
		transform: scale(1) perspective(1px);
		opacity: 0.8;
	}

	50% {
		transform: scale(1.03) perspective(10px);
		opacity: 1;
	}

	100% {
		transform: scale(1) perspective(1px);
		opacity: 0.8;
	}
}

.flaux-btn {
	display: inline-flex;
	// white-space: nowrap;
	z-index: 1;
	align-items: center;
	justify-content: center;
	width: var(--width, 100%);
	max-width: 66dvw;
	height: 100%;
	margin: 0; // Explicitly reset margin
	padding-inline: 2rem;
	padding-block: 0.5em;

	border-radius: 2em;
	backdrop-filter: blur(4px);
	background-image: url('../../../assets/img/svgexport-5.svg'),
		linear-gradient(rgba($flaux-blue, 0.2), rgba($flaux-blue2, 0.4));
	background-repeat: no-repeat, no-repeat;
	background-position: center center, center center;
	background-size: auto, cover;

	box-shadow: 0 4px 1.3rem rgba(0, 0, 0, 0.33);
	color: #fff;

	// Font styles moved from former wrapper
	font-weight: normal;
	font-size: 95%;
	font-family: 'Montserrat', sans-serif !important;
	text-align: center;
	text-decoration: none;
	text-shadow: 0.1em 0.1em 0.8em rgba(0, 0, 0, 0);
	filter: saturate(0.9) hue-rotate(var(--backgroundColor, 40deg)) contrast(2);
	transition: all 0.7s ease-in-out;

	&:hover {
		// border: 1px solid rgba(255, 255, 255, 0.66);
		background: linear-gradient(rgba($flaux-blue2, 0.2), rgba(0, 0, 0, 0.5));
		// background-blend-mode: soft-light;
		box-shadow: 1px 1px 1em #ffffffa9;
		animation: none !important;
		cursor: pointer;
		filter: brightness(1.2) contrast(1.4) saturate(1.3);
		transition: all 0.1s ease-in-out;
	}

	&:active {
		transform: scale(0.99);
		backdrop-filter: blur(12px) brightness(1.8);
		box-shadow: 0.1em 0.1em 0.8em #aaa;
		transition: all 0.1s ease-in-out;
	}
}

:host.pulse .flaux-btn {
	animation: pulse 3s ease-in-out infinite;
}

:host.no-bg-img .flaux-btn {
	background: none, linear-gradient(174deg, rgba($flaux-blue, 0.4), rgba($flaux-blue2, 0.9));
	filter: saturate(0.9) contrast(2) !important;
}