@keyframes pulse {
	0% {
		transform: scale(1) perspective(1px);
		opacity: 0.8;
	}

	50% {
		transform: scale(1.03) perspective(10px);
		opacity: 1;
	}

	100% {
		transform: scale(1) perspective(1px);
		opacity: 0.8;
	}
}

.btn-wrapper {
	text-shadow: 1px 1px 12px rgba(200, 255, 255, 0.72);
	color: rgba(255, 255, 255, 0.8);
	z-index: 10;
	font-weight: bold;
}

.flaux-btn {
	display: inline-block;
	padding-inline: 0.8em;
	padding-block: 0.5em 0.65em;
	color: #fff;
	border-radius: 1em;
	text-decoration: none;
	box-shadow: 0.1em 0.1em 0.8em #aaa;
	text-shadow: 0.1em 0.1em 0.8em black;
	white-space: nowrap;
	animation: pulse 3s ease-in-out infinite;
	backdrop-filter: blur(2px);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	background: rgba(255, 255, 255, 0.2);

	&:hover {
		cursor: pointer;
		background: rgba(55, 155, 155, 0.3);
		box-shadow: 1px 1px 1.5em #ffffffa8;
		border: 1px solid rgba(255, 255, 255, 0.66);
		transform: scale(1.03);
		backdrop-filter: blur(6px) brightness(1.5);
		animation: none;
		transition: all 0.3s ease-in-out;
	}

	&:active {
		transform: scale(0.99);
		backdrop-filter: blur(9px) brightness(1.8);
		box-shadow: 0.1em 0.1em 0.8em #aaa;
		transition: all 0.1s ease-in-out;
	}
}