@keyframes pulse {
	0% {
		transform: scale(1) perspective(1px);
		opacity: 0.8;
	}

	50% {
		transform: scale(1.03) perspective(10px);
		opacity: 1;
	}

	100% {
		transform: scale(1) perspective(1px);
		opacity: 0.8;
	}
}

.btn-wrapper {
	text-shadow: 1px 1px 12px rgba(200, 255, 255, 0.72);
	color: rgba(255, 255, 255, 0.8);
	z-index: 10;
	font-weight: normal;
	font-family: 'Raleway', sans-serif;
}

.flaux-btn {
	display: inline-block;
	padding-inline: 2em;
	padding-block: 0.5em;
	color: #fff;
	border-radius: 2em;
	text-decoration: none;
	box-shadow: 0.1em 0.1em 0.8em #aaa;
	text-shadow: 0.1em 0.1em 0.8em black;
	// white-space: nowrap;
	text-align: center;
	animation: pulse 3s ease-in-out infinite;
	backdrop-filter: blur(2px);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	background: rgba(255, 255, 255, 0.2);
	height: var(--height, 3em);
	align-content: center;

	&:hover {
		cursor: pointer;
		// background: var(--mat-sys-on-primary-fixed-variant);
		// background-blend-mode: soft-light;
		box-shadow: 1px 1px 1em #ffffffa4;
		border: 1px solid rgba(255, 255, 255, 0.66);
		transform: scale(1.03);
		backdrop-filter: blur(7px) brightness(1.5);
		animation: none;
		transition: all 0.3s ease-in-out;
	}

	&:active {
		transform: scale(0.99);
		backdrop-filter: blur(12px) brightness(1.8);
		box-shadow: 0.1em 0.1em 0.8em #aaa;
		transition: all 0.1s ease-in-out;
	}
}