<flaux-section>
	<div class="login-container">
		<h1>LOGIn</h1>
		<form class="login-form">
			<mat-form-field appearance="outline">
				<mat-label>Username</mat-label>
				<input matInput
						 type="text"
						 id="username"
						 name="username"
						 autocomplete="username"
						 required>
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label>Password</mat-label>
				<input matInput
						 type="password"
						 id="password"
						 name="password"
						 autocomplete="current-password"
						 required>
			</mat-form-field>

			<!-- <flaux-btn type="submit">Login</flaux-btn> -->
			<button matButton="filled"
					  color="accent"
					  type="submit">Login</button>
			<button id="googleLogin"
					  matSuffix
					  matButton="elevated"
					  (click)="loginWithGoogle()">
				<mat-icon svgIcon="google"></mat-icon>
				Sign in with Google
			</button>
		</form>
	</div>
</flaux-section>
<flaux-footer></flaux-footer>