@use 'variables' as *;
@use 'mixins' as *;

:host {
	display: block;
	width: -webkit-fill-available;
	// background-color: black;
}

.capabilities-container {
	padding: 4rem 2rem;
	width: 100%;
	margin: 0 auto;
	background: linear-gradient(180deg, black 0%, transparent 15%);
}

.section-header {
	text-align: center;
	margin-bottom: 2rem;
	padding-inline: 2rem;

	h2 {
		font-size: 2.8rem;
		font-family: 'HelloAmerica', sans-serif;
		font-weight: 300;
		line-height: 1.6;
		background: linear-gradient(170deg, $flaux-yellow 33%, $flaux-salmon 66%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-align: center;
	}

	p {
		font-size: 1.25rem;
		color: #ddd;
		margin: 0;
	}
}

.capabilities-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
	gap: 0.5rem;
	max-width: 1600px;
	justify-self: center;

}

.capability-card {
	// background: white;
	position: relative;
	padding: 2rem;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.5s ease;
	min-height: 29em;
	max-height: 33em;
	max-width: 1600px;
	// filter: contrast(100%);
	overflow: hidden;

	h3 {
		font-family: 'Montserrat', sans-serif;
		font-variant: all-small-caps;
		margin-block: 0 1rem;
		line-height: normal;
	}

	.list-wrapper {
		display: block;
		gap: 0.5em;
		margin-top: 2em;

		li {
			&:before {
				content: "✓";
				color: $flaux-orange;
				font-weight: bold;
				font-size: 1.1em;
				display: inline-block;
				width: 1em;
				margin-left: -1em;
				padding-right: 0.5em;
			}

			&::marker {
				content: "";
			}
		}

	}

	img {
		position: absolute;
		padding: 1.5em;
		transition: transform 0.5s ease;

	}

	&:hover {
		@include hover-lift(101%, 120%, -5%);
	}

	// Full width card
	&.voice-agents {
		color: #ddd;
		grid-column: 1 / -1; // Span all columns
		background: linear-gradient(180deg,
				transparent 0%,
				rgba($flaux-salmon, 0.2) 33%,
				rgba($flaux-salmon, 0.25) 66%,
				rgba($flaux-violet, 0.33) 110%);
		background-size: 100% 300%;
		background-position: 0 0;
		transition: background-position 0.6s ease;

		&:hover {
			background-position: 0 100%;
			@include hover-lift(101%, 110%, -1%, 3%);
		}

		.features-expansion {
			--mat-expansion-container-background-color: rgba(0, 0, 0, 0.33);
			--mat-expansion-container-text-color: #ddd;
			--mat-expansion-container-shape: 0;
		}

		img {
			width: 40%;
			opacity: .8;
			shape-outside: url('../../../../../assets/img/automation/voice-agents@2x.png');
			shape-margin: 4em;
			float: left;
			top: 0%;
			padding: 1.5em 1.5em 0 0;
			display: inline;
			position: relative;
			filter: drop-shadow(0 0 1em rgba(0, 0, 0, 0.66));
		}
	}

	&.chat-agents {
		@include pattern-background('type', linear-gradient(135deg, $flaux-blue, $flaux-blue3), auto, color-burn);

		// filter: contrast(1.2);
		img {
			width: 55%;
			bottom: 0;
			margin-bottom: -3em;
			justify-self: anchor-center;
			position: absolute;
		}

		&:hover {
			@include hover-lift(101%, 110%, -3%);
		}
	}

	&.smb-ai-consulting {
		color: #111;
		@include pattern-background('simple-dashed', linear-gradient(135deg, $flaux-yellow, $flaux-salmon), 2.5%, color-burn);
		// filter: contrast(0.99) brightness(0.9);

		img {
			width: -webkit-fill-available;
			bottom: 2em;
			left: 0;
			// inset: 0;
			opacity: .85;
			mix-blend-mode: normal;
			shape-outside: url('../../../../../assets/img/automation/consulting-1@2x.png');
			shape-margin: .8em;
			padding: 0 2em;
			// float: right;
			display: inline;
			position: absolute;
		}
	}

	// Full width card
	&.custom-ai-solutions {
		grid-column: 1 / -1; // Span all columns
		@include pattern-background('subtle-zebra-3d',
			radial-gradient(ellipse at 99% 99%, #010101 30%, $flaux-purple),
			auto,
			overlay);

		img {
			width: 45%;
			opacity: .8;
			mix-blend-mode: lighten;
			shape-outside: url('../../../../../assets/img/automation/ai-brain-7@3x.png');
			shape-margin: 3.5em;
			float: right;
			display: inline;
			position: relative;
		}

		&:hover {
			@include hover-lift(101%, 110%, -2%);
		}
	}

	&.ai-powered-marketing {
		@include pattern-background('shattered-dark', linear-gradient(135deg, $flaux-salmon, $flaux-violet), auto, difference);

		img {
			width: 80%;
			padding: 0;
			opacity: .6;
			shape-outside: url('../../../../../assets/img/agency/soc-media-splash-2.png');
			bottom: 0%;
			left: -1em;
			justify-self: anchor-center;
		}
	}

	&.smb-ai-education {
		@include pattern-background('carbon-fibre', linear-gradient(135deg, rgba($flaux-orange, 0.75), rgba($flaux-purple, 1)), auto, soft-light);
		color: #eee;
		// filter: saturate(1.25);

		img {
			width: 65%;
			bottom: -5%;
			opacity: .9;
			mix-blend-mode: normal;
			justify-self: anchor-center;
		}
	}

	.capability-icon {
		width: 60px;
		height: 60px;
		background: linear-gradient(135deg, $flaux-blue, $flaux-blue3);
		border-radius: 50%;
		display: none;
		// display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 1.5rem;

		i {
			font-size: 1.5rem;
			color: white;
		}
	}
}

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */

@media screen and (max-width: 1150px) {
	.capability-card {
		max-height: -webkit-fill-available;
	}

	.chat-agents {
		img {
			position: absolute !important;
			width: 50% !important;
		}
	}

}

@media screen and (max-width: 900px) {
	.capabilities-container {
		padding: 4rem 0 0;
	}

	.section-header {

		h2 {
			font-size: 2.5rem;
		}
	}

	.capabilities-grid {
		grid-template-columns: 1fr;
		gap: 1.5rem;

		.voice-agents {
			max-height: max-content;

			.list-wrapper {
				padding-inline: 1em;
			}

			.capability-img {
				margin-top: 5%;
			}
		}

		.smb-ai-consulting {

			.capability-img {
				margin-top: 16%;
			}
		}
	}

	.capability-card {
		max-height: max-content;

	}

	.custom-ai-solutions {
		img {
			position: absolute !important;
			bottom: -15%;
			left: 5%;
			width: 75% !important;
		}
	}

	.voice-agents {
		display: flex;
		flex-direction: column;
	}

	.chat-agents {
		img {
			width: 50% !important;
		}
	}

	.features-expansion {
		margin-left: -2rem;
		margin-right: -2rem;
		margin-bottom: -2rem;
	}
}

@media screen and (min-width: 1800px) {
	.capabilities-container {
		// max-width: 2100px;
	}
}