@use 'variables' as *;
@use 'mixins' as *;

:host {
	display: block;
	background-color: black;
}

.capabilities-container {
	padding: 4rem 2rem;
	max-width: 100%;
	margin: 0 auto;
}

.section-header {
	text-align: center;
	margin-bottom: 3rem;

	h2 {
		font-size: 2.8rem;
		font-family: 'Montserrat';
		font-variant: all-small-caps;
		font-weight: 500;
		background: linear-gradient(170deg, $flaux-yellow 33%, $flaux-salmon 66%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-align: center;
	}

	p {
		font-size: 1.25rem;
		color: #ddd;
		// max-width: 600px;
		margin: 0;
	}
}

.capabilities-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
	gap: 0.5rem;
}

.capability-card {
	background: white;
	position: relative;
	padding: 2rem;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.5s ease;
	min-height: 30em;
	max-height: fit-content;
	// filter: contrast(100%);
	overflow: hidden;

	h3 {
		font-family: 'Montserrat', sans-serif;
		font-variant: all-small-caps;
		margin-block: 0 1rem;
		line-height: normal;
	}

	.list-wrapper {
		display: grid;
		gap: 0.5em;
		margin-top: 2em;

		li {
			padding-left: 1em;

			&::marker {
				content: "✓";
				color: $flaux-orange;
				font-weight: bold;
				font-size: 1.1em;
			}
		}

	}

	img {
		position: absolute;
		padding: 1.5em;
		transition: transform 0.5s ease;

	}

	&:hover {
		@include hover-lift(101%, 120%, -5%);
	}

	// Full width cards
	&.voice-agents {
		color: #ddd;
		grid-column: 1 / -1; // Span all columns
		@include pattern-background('white-diamond-dark',
			radial-gradient(circle at 0% 0%, $flaux-blue, $flaux-violet 80%),
			auto,
			overlay);

		&:hover {
			@include hover-lift(101%, 110%, -1%, 3%);
		}

		.text-wrapper {}

		.features-expansion {
			--mat-expansion-container-background-color: rgba(0, 0, 0, 0.33);
			--mat-expansion-container-text-color: #ddd;
			--mat-expansion-container-shape: 0;
		}

		img {
			width: 40%;
			opacity: .8;
			shape-outside: url('../../../../../assets/img/automation/voice-agents@2x.png');
			shape-margin: 2em;
			float: left;
			top: 0%;
			display: inline;
			position: relative;
			filter: drop-shadow(0 0 1em rgba(0, 0, 0, 0.66));
		}
	}

	&.custom-ai-solutions {
		grid-column: 1 / -1; // Span all columns
		@include pattern-background('subtle-zebra-3d',
			radial-gradient(ellipse at 99% 99%, #010101 30%, $flaux-purple),
			auto,
			overlay);
		// filter: contrast(1.1);

		.text-wrapper {
			// margin-right: 50%;
		}

		img {
			width: 60%;
			opacity: .8;
			mix-blend-mode: lighten;
			shape-outside: url('../../../../../assets/img/automation/ai-brain-7@3x.png');
			shape-margin: 3.5em;
			float: right;
			display: inline;
			position: relative;
		}

		&:hover {
			@include hover-lift(101%, 110%, -2%);
		}
	}

	&.chat-agents {
		@include pattern-background('type', linear-gradient(135deg, $flaux-blue, $flaux-blue3), auto, color-burn);

		// filter: contrast(1.2);
		img {
			width: 60%;
			bottom: -18%;
			justify-self: anchor-center;
		}

		&:hover {
			@include hover-lift(101%, 110%, -3%);
		}
	}

	&.smb-ai-education {
		@include pattern-background('pixel-weave', linear-gradient(135deg, $flaux-orange, $flaux-salmon), auto, difference);
		filter: saturate(1.25);

		img {
			width: 70%;
			bottom: -7%;
			opacity: .7;
			mix-blend-mode: normal;
			justify-self: anchor-center;
		}
	}

	&.ai-powered-marketing {
		@include pattern-background('shattered-dark', linear-gradient(135deg, $flaux-salmon, $flaux-violet), auto, difference);

		img {
			width: 100%;
			padding: 0;
			opacity: .6;
			shape-outside: url('../../../../../assets/img/agency/soc-media-splash-2.png');
			bottom: 0%;
			left: -1em;
			justify-self: anchor-center;
		}
	}

	&.smb-ai-consulting {
		color: #111;
		@include pattern-background('simple-dashed', linear-gradient(135deg, $flaux-yellow, $flaux-salmon), 2.5%, color-burn);
		// filter: contrast(0.99) brightness(0.9);

		img {
			width: 80%;
			top: 0%;
			right: -2%;
			opacity: .85;
			mix-blend-mode: multiply;
			shape-outside: url('../../../../../assets/img/automation/consulting-1@2x.png');
			shape-margin: .8em;
			padding: 0;
			float: right;
			display: inline;
			position: relative;
		}
	}


	.capability-icon {
		width: 60px;
		height: 60px;
		background: linear-gradient(135deg, $flaux-blue, $flaux-blue3);
		border-radius: 50%;
		display: none;
		// display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 1.5rem;

		i {
			font-size: 1.5rem;
			color: white;
		}
	}
}

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */

@media screen and (max-width: 768px) {
	.capabilities-container {
		padding: 0rem;
	}

	.section-header h2 {
		font-size: 2.5rem;
	}

	.capabilities-grid {
		grid-template-columns: 1fr;
		gap: 1.5rem;

		.voice-agents {
			max-height: max-content;

			.list-wrapper {
				padding-inline: 1em;
			}

			.capability-img {
				margin-top: 5%;
			}
		}

		.smb-ai-consulting {

			.capability-img {
				margin-top: 16%;

			}
		}
	}

	.capability-card {
		max-height: max-content;
	}

	.custom-ai-solutions {
		img {
			position: absolute !important;
			bottom: -15%;
			left: 5%;
			width: 75% !important;
		}
	}

	.features-expansion {
		margin-left: -2rem;
		margin-right: -2rem;
		margin-bottom: -2rem;
	}
}

@media screen and (min-width: 1800px) {
	.capabilities-container {
		max-width: 2100px;
	}
}