@use 'variables' as *;
@use 'mixins' as *;

:host {
	display: block;
	width: -webkit-fill-available;
	// background-color: black;
}

.capabilities-container {
	width: 100%;
	margin: 0 auto;
	padding: 6rem 2rem 2rem;
	background: linear-gradient(180deg, black 0%, transparent 15%);
}

.section-header {
	margin-bottom: 2rem;
	padding-inline: 2rem;
	text-align: center;

	h2 {
		background: linear-gradient(170deg, $flaux-yellow 33%, $flaux-salmon 66%);
		font-weight: 300;
		font-size: 2.8rem;
		line-height: 1.6;
		font-family: 'HelloAmerica', sans-serif;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-align: center;
	}

	p {
		margin: 0;
		color: #ddd;
		font-size: 1.25rem;
	}
}

.capabilities-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-self: center;
	width: 100%;
	max-width: 1600px;
	gap: 0.5rem;

}

.capability-card {
	position: relative;
	max-width: 1600px;
	min-height: 29em;
	max-height: 40em;
	padding: 2rem;
	overflow: hidden;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
		filter 0.5s cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 0.5s ease;
	will-change: transform, filter;
	backface-visibility: hidden;

	&:hover {
		@include hover-lift(101%, 120%, -2.5%);

	}

	h3 {
		margin-block: 0 1rem;
		font-variant: all-small-caps;
		line-height: normal;
		font-family: 'Montserrat', sans-serif;
	}

	.list-wrapper {
		display: block;
		margin-top: 2em;
		gap: 0.5em;

		li {
			&:before {
				display: inline-block;
				width: 1em;
				margin-left: -1em;
				padding-right: 0.5em;
				content: "✓";
				color: $flaux-orange;
				font-weight: bold;
				font-size: 1.1em;
			}

			&::marker {
				content: "";
			}
		}

	}

	img {
		position: absolute;
		padding: 1em;
		transition: transform 0.5s ease;
		will-change: transform;
	}

	// Full width card
	&.voice-agents {
		grid-column: 1 / -1; // Span all columns
		background: linear-gradient(180deg,
				transparent 0%,
				rgba($flaux-salmon, 0.2) 33%,
				rgba($flaux-salmon, 0.25) 66%,
				rgba($flaux-violet, 0.33) 110%);
		background-position: 0 0;
		background-size: 100% 300%;
		color: #ddd;

		&:hover {
			background-position: 0 100%;
			@include hover-lift(101%, 110%, -1%, 3%);
		}

		.features-expansion {
			--mat-expansion-container-background-color: rgba(0, 0, 0, 0.33);
			--mat-expansion-container-text-color: #ddd;
			--mat-expansion-container-shape: 0;
		}

		img {
			display: inline;
			position: relative;
			top: 0%;
			width: 40%;
			padding: 1.5em 1.5em 0 0;
			float: left;
			filter: drop-shadow(0 0 1em rgba(0, 0, 0, 0.66));
			opacity: .8;
			shape-margin: 4em;
			shape-outside: url('../../../../../assets/img/automation/voice-agents@2x.png');
			will-change: transform, filter;
		}
	}

	&.chat-agents {
		@include pattern-background('type', linear-gradient(135deg, $flaux-blue, $flaux-blue3), auto, color-burn);
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		// filter: contrast(1.2);
		img {
			position: relative !important;
			place-self: center;
			justify-self: anchor-center;

			width: 100%;
			// margin-bottom: -1em;
		}

		&:hover {
			@include hover-lift(101%, 110%, -3%);
		}
	}

	&.smb-ai-consulting {
		color: #111;
		@include pattern-background('simple-dashed', linear-gradient(135deg, $flaux-yellow, $flaux-salmon), 2.5%, color-burn);
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		img {
			position: relative;
			place-self: center;
			width: 75%;
			opacity: .80;
		}
	}

	// Full width card
	&.custom-ai-solutions {
		grid-column: 1 / -1; // Span all columns
		@include pattern-background('subtle-zebra-3d',
			radial-gradient(ellipse at 99% 99%, #010101 30%, $flaux-purple),
			auto,
			overlay);

		.text-wrapper {
			margin-bottom: 3rem;
		}

		img {
			display: inline;
			position: relative;
			top: 2rem;
			width: 45%;
			float: right;
			mix-blend-mode: lighten;
			opacity: .8;
			shape-margin: 3.5em;
			shape-outside: url('../../../../../assets/img/automation/ai-brain-7@3x.png');
		}

		&:hover {
			@include hover-lift(101%, 110%, -2%);
		}
	}

	&.ai-powered-marketing {
		@include pattern-background('shattered-dark', linear-gradient(135deg, $flaux-salmon, $flaux-violet), auto, difference);
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		img {
			position: relative;
			place-self: center;
			justify-self: anchor-center;
			width: 95%;
			margin-left: -1rem;
			opacity: .75;
		}
	}

	&.smb-ai-education {
		@include pattern-background('carbon-fibre', linear-gradient(135deg, rgba($flaux-orange, 0.75), rgba($flaux-purple, 1)), auto, soft-light);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		color: #eee;

		img {
			position: relative;
			place-self: center;
			justify-self: anchor-center;
			width: 85%;
			mix-blend-mode: normal;
			opacity: .9;
		}
	}

}

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */

@media screen and (max-width: 1150px) {
	.capability-card {
		max-height: -webkit-fill-available;
	}

	.chat-agents {
		img {}
	}

}

@media screen and (max-width: 900px) {
	flaux-section {
		scroll-snap-align: start;
	}

	.capabilities-container {
		padding: 4rem 0 0;
		background: linear-gradient(180deg, black 0%, transparent 5%);
	}

	.section-header {

		h2 {
			font-size: 2.5rem;
		}
	}

	.capabilities-grid {
		grid-template-columns: 1fr;
		gap: 1.5rem;

		.voice-agents {
			display: flex;
			flex-direction: column;
			max-height: max-content;

			.list-wrapper {
				display: grid;
				padding-inline: 1em 0.5em;
				gap: 1rem;
			}

			.capability-img {
				margin-top: 5%;
			}
		}

		.chat-agents {
			img {
				margin-bottom: -1rem;
			}
		}

		.custom-ai-solutions {
			img {
				position: absolute !important;
				bottom: -8%;
				top: auto;
				left: 28%;
				width: 75% !important;
			}
		}
	}

	.capability-card {
		max-height: max-content;
	}

	.features-expansion {
		margin-right: -2rem;
		margin-bottom: -2rem;
		margin-left: -2rem;
	}
}

@media screen and (max-width: 768px) {
	.chat-agents {
		img {
			display: block;
			position: relative;
		}
	}

}