.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  z-index: 10;

  .logo {
    width: 400px;
    height: auto;
    margin-top: -20px;
    filter: contrast(1.2) saturate(1.2) opacity(1);
  }
}

.router-wrapper {
  position: relative;
  margin-top: 4rem;
}