@use '../variables' as *;

:host {
	height: 100%;
}

.router-wrapper {
	position: relative;
	// margin-top: -4rem;
	height: 100%;
	width: 100%;
	background: black;
	scroll-behavior: smooth;
}

.loading-wrapper {
	position: absolute;
	z-index: 2;
	background: rgba(255, 255, 255, 0.2);
	width: 100%;
	height: 100%;
	display: flex;

	mat-spinner {
		margin: auto;
		--mat-progress-spinner-active-indicator-color: #{$flaux-orange};
	}
}