:host {
	position: relative;
	scroll-snap-align: start;
}

footer {
	text-align: center;
	padding: 0.5rem;
	border-top: 1px solid #e7e7e7;
	background-color: black;

	.footer-content {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 3rem;
	}

	.footer-logo {
		height: 3.5rem;
		filter: grayscale(1) brightness(1.3);
	}

	.footer-links {
		display: flex;
		flex-flow: wrap;
		line-height: .5em;
		gap: 20px;

		a {
			text-decoration: none;
			color: #ccc;
			font-weight: 500;

			&:hover {
				font-style: italic;
			}
		}
	}

	p {
		font-family: 'Montserrat', sans-serif;
		margin: 0;
		font-size: 80%;
		color: #666;
	}
}

@media (max-width: 600px) {
	.footer-links {
		justify-content: center;
		flex-flow: wrap;
	}
}