<footer>
	<div class="footer-content">
		<div class="footer-columns">
			<div class="footer-logo">
				<a routerLink="/">
					<img src="../../assets/logo/svg/flaux.svg"
						  alt="flaux-co logo"
						  class="footer-logo-img">
				</a>
			</div>
			<div class="footer-column">
				<h3>Company</h3>
				<a routerLink="/">Home</a>
				<a routerLink="/">About</a>
				<a routerLink="/solutions/ai">AI Solutions</a>
				<a routerLink="/solutions/agency">Digital Solutions</a>
			</div>

			<div class="footer-column">
				<h3>Resources</h3>
				<a routerLink="/">Privacy Policy</a>
				<a routerLink="/">Terms of Service</a>
				<a routerLink="/">Cookie Policy</a>
				<a routerLink="/">Sitemap</a>
			</div>

			<div class="footer-column">
				<h3>Contact FLAUX</h3>
				<a routerLink="/contact">Contact</a>
			</div>
		</div>
	</div>

	<p>&copy; 2025 FLAUX &mdash; All rights reserved.</p>

</footer>