:host {
	position: relative;
	display: block;
	scroll-snap-align: start;
}

footer {
	text-align: center;
	padding: 0.5rem;

	.footer-content {
		display: flex;
		align-items: center;
		gap: 2rem;
		padding: 2rem 0;
	}

	.footer-logo {
		height: 3.5rem;
		width: 3.5rem;
		padding-inline: 2rem;
		filter: grayscale(1) brightness(1.3);
		align-self: center;
		justify-self: center;

		&-img {
			filter: grayscale(1) brightness(1.3);
		}
	}

	.footer-columns {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		// gap: 2rem;
		width: 100%;
		max-width: 1200px;
		text-align: left;
	}

	.footer-column {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		h3 {
			font-family: 'Montserrat', sans-serif;
			font-size: 1rem;
			font-weight: 600;
			color: #fff;
			margin: 0 0 0.5rem 0;
			text-transform: uppercase;
			letter-spacing: 0.5px;
		}

		a {
			text-decoration: none;
			color: #ccc;
			font-weight: 400;
			font-size: 0.75rem;
			line-height: 1.4;
			cursor: pointer;

			&:hover {
				color: #fff;
				// font-style: italic;
			}
		}
	}

	p {
		font-family: 'Montserrat', sans-serif;
		margin: 0;
		font-size: 80%;
		color: #666;
	}
}

@media (max-width: 768px) {
	footer {
		.footer-columns {
			grid-template-columns: repeat(2, 1fr);
			gap: 2rem;
			text-align: center;
			text-align: center;
		}

		.footer-content {
			padding: 1.5rem 1rem;
		}
	}
}