<div class="about-page-container">
	<h1>About Us</h1>
	<div class="flaux-par">
		<p>
			<span class="logo-font">FLaUX</span> empowers small and mid-sized businesses through a unique <strong>'two-trunks'</strong> approach, offering distinct yet complementary paths to digital transformation.
		</p>
		<p>
			For those with established processes or specific AI needs, we deliver practical, profitable AI solutions—from intelligent agents to automated workflows and lead-gen systems—designed to convert attention into revenue. Each solution is
			bespoke, crafted to meet the unique challenges of every business.
		</p>
		<p>
			Alternatively, businesses seeking to build or enhance their digital presence can leverage our comprehensive digital agency services, which provide a robust, AI-infused backbone unifying CRM, reputation management, social media, website
			design, and digital advertising, ensuring rapid optimization for maximum efficiency and growth.
		</p>
	</div>
	<div class="founder-section"> <img src="../../../assets/img/me-25.png"
			  alt="Kevin Florian, Founder of Flaux"
			  class="founder-image">
		<h2>Kevin Florian</h2>
		<p>
			With over 12 years of crafting software, Kevin Florian, the visionary behind <span class="logo-font">FLaUX</span>, brings a profound mastery of application engineering to the forefront. His journey, marked by architecting enterprise-grade
			web applications for industry leaders like UPS and GlobalLogic across diverse sectors including healthcare and logistics, has consistently delivered intuitive, high-performance interfaces for mission-critical, real-time data.
			<br><br>
			Specializing in the cutting edge of modern web technologies, Kevin's expertise in
			building scalable, long-lived browser-based platforms is the bedrock upon which Flaux's innovative experiences are built. He champions clean code, agile methodologies, and a relentless pursuit of technical excellence, ensuring Flaux not only
			meets but anticipates the evolving demands of the digital realm.

			<br><br>
			His leadership is the driving force behind Flaux's commitment to delivering transformative digital solutions that empower businesses to thrive in an increasingly complex
			technological landscape.
		</p>
	</div>
</div>