@use 'variables' as *;

:host {
	background: url('../../../assets/img/bg-3.jpg') no-repeat bottom left;
	display: block;
	background-size: cover;
}

.about-page-container {
	color: #fff; // Light text color
	padding: 6rem;
	min-height: 100dvh; // Ensure it takes full height
	max-width: 1600px;
	width: -webkit-fill-available;
	font-weight: 200;
	letter-spacing: 0.03em;
	justify-self: center;
	background-color: rgba(0, 0, 0, 0.53);

	h1 {
		// color: #ffffff;
		background: linear-gradient(135deg, $flaux-yellow 33%, $flaux-salmon 66%) no-repeat center center;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-family: 'HelloAmerica', sans-serif;
		font-weight: 200;
		text-align: center;
	}

	.flaux-par {
		padding: 0;
		margin-bottom: 3rem;
		max-width: 50rem;
		justify-self: center;
	}

	.founder-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		max-width: 35rem;
		margin: 0 auto;
		padding: 2rem 4rem 3rem;
		background: rgba(255, 255, 255, 0.2);
		backdrop-filter: blur(1.75rem) contrast(0.9);
		box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.5);
		border-radius: 4rem;

		.founder-image {
			border-radius: 50%;
			width: 15rem;
			height: 15rem;
			object-fit: cover;
			object-view-box: inset(10%); // Zooms in 15% without changing element size
			margin-bottom: 1rem;
			border: 3px solid #333;
		}

		h2 {
			font-family: 'Josefin Sans', sans-serif;
			font-variant: all-small-caps;
			text-shadow: 0 0 1rem rgba(32, 12, 12, 0.75);
			color: #ffffff;
			margin-top: -1rem;
			margin-bottom: 0rem;
			line-height: 1.25;
		}

		h6 {
			font-family: 'Montserrat', sans-serif;
			font-variant: all-small-caps;
			font-weight: 300;
			letter-spacing: 0.15em;
			margin-top: 0rem;
			line-height: 1;
			margin-bottom: 1.5rem;
			color: #eee;
		}

		p {
			line-height: 1.6;
			margin-top: 0.5rem;
			margin-bottom: 1rem;

		}
	}
}

@media screen and (max-width: 768px) {
	.about-page-container {
		padding: 6rem 1rem;

		.founder-section {
			padding: 2rem 2rem 3rem;
			// margin-inline: .5rem;

			.founder-image {
				width: 10rem;
				height: 10rem;
			}
		}
	}

}