.bg-video-container {
	// background: radial-gradient(transparent 50%, black), black;
	color: #fff;
	display: flex;
	flex-direction: column;
	transition: all 3s ease-in-out;
	overflow: hidden;
}

.bg-video {
	// background: linear-gradient(90deg, transparent, black);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: 0;
}

.vignette {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	background: radial-gradient(circle FARTHEST-side at 0%,
			transparent 70%,
			rgb(0, 0, 0) 100%);
	// background: radial-gradient(circle at center,
	// 		transparent 50%,
	// 		rgb(0, 0, 0) 90%);
}