.bg-video-container {
	// background: radial-gradient(transparent 50%, black), black;
	color: #fff;
	display: flex;
	flex-direction: column;
	transition: all 3s ease-in-out;
	overflow: hidden;
	border-radius: inherit;
}

.bg-video {
	// background: linear-gradient(90deg, transparent, black);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 0;
	border-radius: inherit;
}

.vignette {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 0;
	background: radial-gradient(circle closest-side at 0% 50%,
			transparent 70%,
			rgb(0, 0, 0) 100%);
}