:host {
}

.bg2-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.bg2-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
