@use 'variables' as *;

.gradient-background {
	position: fixed;
	inset: 0;
	// width: 100%;
	// height: 100dvh;
	overflow: hidden;
	z-index: 0;
	background: linear-gradient(-45deg,
			$flaux-violet,
			$flaux-blue,
			$flaux-purple,
			$flaux-pink,
			$flaux-orange,
			$flaux-yellow);
	background-size: 400% 400%;
	animation: gradientFlow 15s ease infinite;
}

.gradient-background::after {
	content: "";
	position: absolute;
	inset: 0;
	overflow: hidden;
	pointer-events: none;
	background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");
	opacity: 1;
	transform: scale(2.2);
	z-index: 1;
	mix-blend-mode: overlay;
}

@keyframes gradientFlow {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}