<span class="sr-only">{{ currentText }}</span>

<div class="container"
	  (mouseenter)="onHover()">
	<span class="words-wrapper"
			*ngIf="currentTextIndex() >= 0"
			[class.lines]="isLines"
			aria-hidden="true">

		<span *ngFor="let wordObj of elements(); let wordIndex = index"
				class="word">

			<span *ngFor="let char of wordObj.characters; let charIndex = index"
					class="element"
					[class.highlight]="highlightActive()"
					[attr.data-char]="char"
					[style.animation-delay]="getStaggerDelay(wordIndex, charIndex)"
					[style.animation-duration.ms]="animationDuration"
					[style.animation-timing-function]="animationEasing"
					[style.letter-spacing]="letterSpacing"
					[style.--flashlight-duration.ms]="flashlightDuration"
					[style.--flashlight-delay]="getFlashlightDelay(wordIndex, charIndex)">
				{{ char }}
			</span>
		</span>
	</span>

	<div *ngIf="auto"
		  class="progress-bar">
		<div class="progress-fill"
			  [style.width.%]="progressPercent()"></div>
	</div>
</div>