@use 'variables' as *;

:host {
	// position: absolute;
}

flaux-section {
	max-width: 1600px;
	align-self: center;
}

mkt-ai-section {
	scroll-snap-align: start;
}


/* ----------------------------------- // ----------------------------------- */

.sections-wrapper {
	// scroll-snap-align: start;
	// gap: 4em;
	display: flex;
	flex-direction: column;
	margin-bottom: 2em;
	overflow: hidden;
}

.agency-hero-section {
	// scroll-snap-align: start;
	display: flex;
	align-items: center;
	color: white;
	overflow: visible;
	font-family: "Montserrat", sans-serif;
	text-align: center;
	gap: 9em;

	flaux-blob-backdrop {
		flex: 5;
		overflow: visible !important;
	}

	.hero-heading {
		flex: 4;
		position: relative;
		z-index: 3;
		text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.7);
		text-align: end;

		h1, h2, h3, h4 {
			text-shadow: 1px 1px 1.3rem rgba(0, 0, 0, 0.8);
			margin: 0;
			font-weight: 400;

			.ast-icon {
				max-width: .5em;
				margin-bottom: 0.5em;
				filter: invert(1) drop-shadow(1px 1px 0.75rem rgba(0, 0, 0, 0.7));
			}
		}

		.rating-banner {
			max-width: 25%;
			opacity: 0.9;
			height: auto;
			margin: 1em 0;
			filter: drop-shadow(0 0 0.5em rgba(0, 0, 0, 0.5));
		}

		p {
			margin-top: 2em;
			line-height: 1.75em;
		}
	}
}

.feature-section {
	scroll-snap-align: start;
	position: relative;
	z-index: 3;
	color: white;
	overflow: visible;
	display: flex;
	flex-direction: column;
	align-items: center;

	.quote-carousel-wrapper {
		max-width: 110%;
		opacity: 0.8;
		align-self: flex-start;
		margin-inline: -1em;
		padding: 0.5em 1em 2em !important;
	}

	&-list {
		text-align: left;
		padding-inline: 1em 0;
	}
}

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */

@media (min-width: 1800px) {
	.agency-hero-section, .content-section {
		max-width: 1700px;
		margin: auto;
	}
}

@media (max-width: 900px) {

	.agency-hero-section {
		height: calc(100dvh - 4em) !important;
		margin-bottom: 0 !important;
		flex-direction: column-reverse !important;
		gap: 7em !important;
		padding-top: 8em !important;
		padding-bottom: 0 !important;
		overflow: hidden !important;

		.hero-heading {
			text-align: center;
			flex: 3;

			p {
				margin-top: 0.2em;
			}
		}

		flaux-blob-backdrop {
			flex: 1 !important;
			width: 80% !important;
			height: auto !important;
		}
	}

	.feature-section {
		height: 95dvh !important;
		padding: 0 !important;
		margin: 0 !important;
		// scroll-snap-align: center !important;

		.quote-carousel-wrapper {
			flex: 3 !important;
			max-width: 110%;
			opacity: 0.8;
			margin-inline: -1.5em !important;
			align-self: center !important;
			padding: 0 !important;
		}
	}
}