@use 'variables' as *;

:host {
	display: block;
}

flaux-section {
	background: linear-gradient(30deg, $flaux-violet 10%, black 130%);
}

.privacy-confirmed {

	&-content {
		max-width: 800px;
		margin: 0 auto;
		text-align: center;

		h3 {
			font-size: 2rem;
			margin-bottom: var(--space-md);
		}

		p {
			margin-bottom: var(--space-md);
		}
	}

	&-image {
		align-self: self-end;

		img {
			max-width: 150%;
			height: auto;
		}
	}
}

@media screen and (max-width: 768px) {
	flaux-section {
		flex-direction: column !important;
	}

	.privacy-confirmed-image {
		position: absolute;
		bottom: 0;

		img {
			max-width: 120%;
		}

	}
}