<flaux-section [height]="'70vh'"
					[inlinePadding]="'4rem'">
	<div class="privacy-confirmed-content">
		<h3>Your Privacy, Confirmed.</h3>
		<p>At FLaUX, we prioritize your privacy and data security. Our solutions are designed to comply with the highest standards of data protection, ensuring that your information is handled with the utmost care and confidentiality.</p>
		<p>We believe in transparency and integrity, providing you with tools that not only enhance your digital presence but also respect your privacy. With FLaUX, you can trust that your data is safe and secure.</p>
	</div>
	<div class="privacy-confirmed-image">
		<img src="../../../../../assets/img/agency/ai-privacy-policy.webp"
			  alt="privacy confirmed illustration"
			  class="privacy-img" />
	</div>
</flaux-section>