@use 'variables' as *;

:host {
	display: block;
}

flaux-section {
	background: linear-gradient(180deg, transparent 0%, rgba($flaux-violet, 0.75) 110%);
	max-width: 1600px;
}

.privacy-confirmed {

	&-content {
		max-width: 800px;
		margin: auto;
		padding: 4rem 3rem;
		text-align: center;
		flex: 6;
		line-height: 2;

		h3 {
			font-size: 2rem;
			margin-bottom: var(--space-md);
		}

		p {
			margin-bottom: var(--space-md);
		}
	}

	&-image {
		align-self: self-end;
		z-index: -2;
		flex: 7;

		img {
			max-width: 90%;
			height: auto;
		}
	}
}

@media screen and (max-width: 768px) {
	flaux-section {
		flex-direction: column !important;
		min-height: 100dvh !important;
		scroll-snap-align: start;
	}

	.privacy-confirmed-image {
		position: absolute;
		bottom: 0;

		img {
			max-width: 120%;
		}

	}
}