@use 'form-buttons' as *;
@use 'variables' as *;

:host {
	display: block;
	width: 100%;
}

form {
	display: flex;
	margin-top: 2rem;
	flex-direction: column;
	gap: 1rem;
	--mat-sys-error: light-dark(#ba1a1a, #ff9488);
	--mat-form-field-error-text-color: light-dark(#ba1a1a, #ff9488) !important;
}

.form-row {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	@media (min-width: 600px) {
		flex-direction: row;

		.form-field {
			flex: 1;
		}
	}
}

.form-field {
	width: 100%;
}

.submit-button {
	@include form-submit-button;

	width: 100%;
	line-height: 1;

	.mdc-button__label {
		padding-bottom: 3px;
	}
}

.mdc-button:disabled {
	opacity: 0.7 !important;
	pointer-events: none;
}

.form-disclaimer {
	font-size: 0.8rem;
	color: #bbb;
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 0;
}

.checkbox-row {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	margin: 0.33rem 0;

	@media (max-width: 600px) {
		flex-direction: column;
	}

	.checkbox-item {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		mat-checkbox {
			font-size: 0.95rem;
		}

		.checkbox-input {
			width: 100%;
		}
	}
}