/* flaux-carousel.component.scss */

:host {
	display: block;
	position: relative;
	width: 100%;
	height: -webkit-fill-available;
	min-height: calc(var(--item-width, 14em) + 4em);
	/* Ensure enough space for linear layout */
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	overflow: hidden;
	// font-size: clamp(1rem, 1.5vw, 1.544rem);
}

.carousel-wrapper {
	display: flex;
	position: relative;
	width: 100%;
	overflow: hidden;
	// height: calc(var(--item-width, 14em) + 2em);
	height: calc(var(--item-width, 4em) *3.1); // display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0 2em;
}

.carousel-item {
	position: absolute;
	width: var(--item-width, 14em);
	height: var(--item-width, 14em);
	border-radius: 50%;
	border: 1px solid #4b134f;
	background: rgba(255, 255, 255, 0.1);
	font-size: 3em;
	font-family: sans-serif;
	filter: blur(0.1em) brightness(0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, filter 0.33s ease-in-out;
	user-select: none;
	will-change: transform, opacity;
	transform-origin: center center;
	// left: -1em;
	// top: 50%;
	margin: 0 auto;

	&.featured-element,
	&.center-element {
		border: 2px solid #fff;
		background: rgba(255, 255, 255, 0.2);
		box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
		filter: blur(0) brightness(1);
	}

	img {
		width: 100%;
		border-radius: 50%;
	}
}

// .first-item {
// 	transition: transform 0.5s ease-in-out, z-index 0s ease-in-out;
// 	transition: none;
// }

// .last-item {
// 	transition: transform 0.5s ease-in-out, z-index 0s ease-in-out;
// 	transition: none;
// }

.wrap-around-hidden {
	opacity: 0;
	visibility: hidden;
}

.carousel-controls {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 95%;
	height: 100%;
	z-index: 100;
	display: flex;
	justify-content: space-between;
	align-items: center;
	pointer-events: none;

	/* Allow clicks to pass through the container */
	button {
		pointer-events: all;
		color: white !important;
		width: 5em;
		height: 5em;
		transition: all 0.3s ease;
		opacity: 0.7;

		&:hover {
			transform: scale(1.2);
		}

		mat-icon {
			font-size: 5em;
			width: auto;
			height: auto;
			margin: auto;
		}
	}
}


.featured-item {
	&-info {
		display: flex;
		flex-direction: column;
		z-index: 11;
		align-items: center;
		justify-content: center;
		width: 55%;
		margin: 2em auto;
		padding: 1em 0;
		gap: 1em;
		text-align: center;
		position: relative;
		top: -7rem;
		// backdrop-filter: blur(8px) brightness(0.95) saturate(0.9);
		// box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
		// background: rgba(255, 255, 255, 0.1);
		// border-radius: 1em;
	}

	&-heading {
		font-variant: all-small-caps;
		letter-spacing: 0.2em;
		color: white;
		text-shadow: 0 0 0.2em black;
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 800;
		filter: drop-shadow(0 4px 0.2em rgba(0, 0, 0, 0.4));
	}

	&-subheading {
		font-variant: all-small-caps;
		letter-spacing: 0.2em;
		font-family: 'Josefin Sans', sans-serif;
		margin: 0;
	}

	&-text {
		font-size: 1em;
		margin: 0;
		margin-bottom: 0.75em;
	}
}

@media screen and (max-width: 900px) {

	.featured-item {
		&-info {
			width: 70%;
		}
	}
}