/* flaux-carousel.component.scss */

:host {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}

.carousel-wrapper {
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 50px);
}

.carousel-item {
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 1px solid #4b134f;
	background: rgba(255, 255, 255, 0.1);
	font-size: 3em;
	font-family: sans-serif;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: top 0.5s ease-in-out, left 0.5s ease-in-out;
	user-select: none;
	will-change: top, left;
}

.carousel-controls {
	// position: absolute;
	top: 10px;
	// width: 100%;
	// height: 50px;
	text-align: center;
	z-index: 1;
}

.control-left,
.control-right {
	z-index: 4;
	display: inline-block;
	color: #fff;
	font-size: 3em;
	cursor: pointer;
	user-select: none;
	transition: transform 0.3s ease;

	&:hover {
		transform: scale(1.1);
	}
}

.control-left {
	margin-right: 10px;
}

.control-right {
	margin-left: 10px;
}

/* Responsive design */
@media screen and (max-width: 768px) {
	.carousel-item {
		width: 60px;
		height: 60px;
		font-size: 1.5em;
	}

	.carousel-wrapper {
		top: calc(50% - 30px);
		left: calc(50% - 30px);
	}

	.carousel-controls {
		top: 20px;
	}

	.control-left {
		margin-right: 50px;
	}

	.control-right {
		margin-left: 50px;
	}
}