<div class="carousel-wrapper">
	@for (element of itemElements; track element.id) {
	<div class="carousel-item"
		  [class.top-element]="isTopElement(element)"
		  [ngStyle]="getItemStyle(element)">
		<img [src]="element.item.imageUrl"
			  [width]="300"
			  alt="{{element.item.heading}} image" />
	</div>
	}
</div>

@if (showControls) {
<div class="carousel-controls">
	<flaux-btn-bowed [height]="radiusY * 1.5"
						  [width]="radiusY / 2.5"
						  [spread]="radiusY * 2"
						  [curve]="radiusY /3"
						  color="rgba(100, 100, 100, 0.2)"
						  direction="left"
						  (click)="turnLeft()">
		<div class="curved-arrow right-arrow"></div>
	</flaux-btn-bowed>

	<flaux-btn-bowed [height]="radiusY * 1.5"
						  [width]="radiusY / 2.5"
						  [spread]="radiusY * 2"
						  [curve]="radiusY /3"
						  color="rgba(100, 100, 100, 0.2)"
						  direction="right"
						  (click)="turnRight()">
		<div class="curved-arrow left-arrow"></div>
	</flaux-btn-bowed>
</div>
}