<div class="carousel-wrapper"
	  [style.--radiusY]="radiusY + 'em'"
	  [style.--radiusX]="radiusX + 'em'">
	@for (element of itemElements; track element.id) {
	<div class="carousel-item"
		  [class.top-element]="isTopElement(element)"
		  [ngStyle]="getItemStyle(element)">
		<img [src]="element.item.imageUrl"
			  alt="{{element.item.heading}} image" />
	</div>
	}
</div>

<div class="topmost-item-info"
	  [style.--radiusY]="radiusY + 'em'">
	<h3 class="topmost-item-heading">
		{{ topmostItem?.heading }}
	</h3>
	<h5 class="topmost-item-subheading">
		{{ topmostItem?.subheading }}
	</h5>
	<div class="topmost-item-text">
		{{ topmostItem?.text }}
	</div>
	@if(topmostItem?.linkUrl) {
	<flaux-btn routerLink="{{topmostItem?.linkUrl}}">
		Learn More</flaux-btn>
	}
</div>

@if (showControls) {
<div class="
	  carousel-controls">
	<button matButton
			  (click)="turnLeft()"
			  aria-label="left arrow button">
		<mat-icon>chevron_left</mat-icon>
	</button>

	<button matButton
			  (click)="turnRight()"
			  aria-label="right arrow button">
		<mat-icon>chevron_right</mat-icon>
	</button>
</div>
}