<div class="carousel-wrapper"
	  [style.--item-width]="itemWidth + 'em'"
	  [style.--item-spacing]="itemSpacing + 'em'"
	  [class.swipe-enabled]="enableSwipe"
	  (touchstart)="enableSwipe ? onTouchStart($event) : null"
	  (touchmove)="enableSwipe ? onTouchMove($event) : null"
	  (touchend)="enableSwipe ? onTouchEnd($event) : null">
	@for (element of itemElements; track element.id) {
	<div class="carousel-item"
		  [class.center-element]="isCenterElement(element)"
		  [class.featured-element]="isTopElement(element)"
		  [class.last-item]="isLastItem(element)"
		  [class.first-item]="isFirstItem(element)"
		  [class.wrap-around-hidden]="isWrapAroundElement(element)"
		  [class.clickable]="!isCenterElement(element)"
		  [ngStyle]="getItemStyle(element)"
		  (click)="onCarouselItemClick(element)">
		<img [src]="element.item.imageUrl"
			  alt="{{element.item.heading}} image" />
	</div>
	}
</div>

<div class="featured-item-info">
	<h3 class="featured-item-heading">
		{{ featuredItem?.heading }}
	</h3>
	<div class="featured-item-card">
		<h5 class="featured-item-subheading">
			{{ featuredItem?.subheading }}
		</h5>
		<div class="featured-item-text">
			<p>
				{{ featuredItem?.text }}
			</p>
			<div class="featured-item-description"
				  [innerHTML]="featuredItem?.description"></div>
		</div>
		@if(featuredItem?.linkUrl) {
		<flaux-btn routerLink="{{featuredItem?.linkUrl}}"
					  [height]="'1.5em'">
			Learn More</flaux-btn>
		}
	</div>
</div>

@if (showControls) {
<div class="
	  carousel-controls">
	<button matButton
			  (click)="turnLeft()"
			  aria-label="left arrow button">
		<mat-icon>chevron_left</mat-icon>
	</button>

	<button matButton
			  (click)="turnRight()"
			  aria-label="right arrow button">
		<mat-icon>chevron_right</mat-icon>
	</button>
</div>
}