/* flaux-carousel.component.scss */

:host {
	display: block;
	position: relative;
	width: 100%;
	height: -webkit-fill-available;
	min-height: calc(var(--radiusY, 4em) * 3);
	/* Ensure enough space for ellipse */
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	// font-size: clamp(1rem, 1.5vw, 1.544rem);
}

.carousel-wrapper {
	position: relative;
	width: 100%;
	height: -webkit-fill-available;
	top: 13em;
	left: 0.5rem
}

.carousel-item {
	position: absolute;
	width: 14rem;
	height: 14rem;
	border-radius: 50%;
	border: 1px solid #4b134f;
	background: rgba(255, 255, 255, 0.1);
	font-size: 3em;
	font-family: sans-serif;
	filter: blur(0.25rem) brightness(0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: top 0.5s ease-in-out, left 0.5s ease-in-out, transform 0.5s ease-in-out, z-index 0s ease-in-out, filter 0.33s ease-in-out;
	user-select: none;
	will-change: top, left, transform;
	transform-origin: center center;
	/* Center the item within the carousel-wrapper */
	margin-left: -2.5em;
	/* Half of width to center */
	margin-top: -2.5em;
	/* Half of height to center */

	&.top-element {
		border: 2px solid #fff;
		background: rgba(255, 255, 255, 0.2);
		box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
		filter: blur(0) brightness(1);
	}

	img {
		width: 100%;
	}
}

.carousel-controls {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 95%;
	height: 100%;
	z-index: 100;
	display: flex;
	justify-content: space-between;
	align-items: center;
	pointer-events: none;

	/* Allow clicks to pass through the container */
	button {
		pointer-events: all;
		color: white !important;
		width: 5em;
		height: 5em;
		transition: all 0.3s ease;
		opacity: 0.7;

		&:hover {
			transform: scale(1.2);
		}

		mat-icon {
			font-size: 5em;
			width: auto;
			height: auto;
			margin: auto;
		}
	}
}


.topmost-item {
	&-info {
		display: flex;
		flex-direction: column;
		z-index: 11;
		align-items: center;
		justify-content: center;
		width: 55%;
		margin: 2em auto;
		padding: 1rem 0;
		gap: 1rem;
		text-align: center;
		bottom: 24em;
		position: relative;
		// backdrop-filter: blur(8px) brightness(0.95) saturate(0.9);
		// box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
		// background: rgba(255, 255, 255, 0.1);
		// border-radius: 1em;
	}

	&-heading {
		font-variant: all-small-caps;
		letter-spacing: 0.2rem;
		color: white;
		text-shadow: 0 0 0.2em black;
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 800;
		filter: drop-shadow(0 4px 0.2em rgba(0, 0, 0, 0.4));
	}

	&-subheading {
		font-variant: all-small-caps;
		letter-spacing: 0.2rem;
		font-family: 'Josefin Sans', sans-serif;
		margin: 0;
	}

	&-text {
		font-size: 1em;
		margin: 0;
		margin-bottom: 0.75em;
	}
}

@media screen and (max-width: 900px) {

	.topmost-item {
		&-info {
			width: 70%;
		}
	}

}