<footer>
	<div class="footer-content">
		<div class="footer-columns">
			<div class="footer-logo">
				<a routerLink="/">
					<img src="../../assets/logo/svg/flaux.svg"
						  alt="flaux-co logo"
						  class="footer-logo-img">
				</a>
			</div>
			<div class="footer-column">
				<h3>Company</h3>
				<a routerLink="/">Home</a>
				<a routerLink="/about">About</a>
				<a routerLink="/solutions/ai">AI Solutions</a>
				<a routerLink="/solutions/agency">Digital Solutions</a>
			</div>

			<div class="footer-column">
				<h3>Resources</h3>
				<a (click)="openPrivacyPolicy()">Privacy Policy</a>
				<a (click)="openTermsOfService()">Terms of Service</a>
				<a (click)="openCookiePolicy()">Cookie Policy</a>
				<a routerLink="/">Sitemap</a>
			</div>

			<div class="footer-column">
				<h3>Contact FLAUX</h3>
				<a routerLink="/contact">Contact</a>
				<div class="social-icons">
					<a href="https://facebook.com/flaux.agency"
						target="_blank"
						rel="noopener noreferrer"
						class="social-icon">
						<img src="../../../assets/img/icons/n8n/Facebook Trigger integration.svg"
							  alt="Facebook"
							  width="24"
							  height="24">
					</a>
					<a href="https://linkedin.com/company/flaux"
						target="_blank"
						rel="noopener noreferrer"
						class="social-icon">
						<img src="../../../assets/img/icons/n8n/LinkedIn integration.svg"
							  alt="LinkedIn"
							  width="24"
							  height="24">
					</a>
					<a href="https://www.youtube.com/@flaux.agency"
						target="_blank"
						rel="noopener noreferrer"
						class="social-icon">
						<img src="../../../assets/img/icons/youtube.png"
							  alt="YouTube"
							  width="24"
							  height="24">
					</a>
				</div>
				<div>
					<a href="https://wa.me/18125659035"
						target="_blank"
						class=" whatsapp-link">
						<img src="assets/img/icons/whatsapp2.svg"
							  width="100%"
							  alt="WhatsApp"
							  class="whatsapp-icon"></a>
				</div>
			</div>
		</div>
	</div>

	<p>&copy; {{ currentYear }} FLAUX &mdash; All rights reserved.</p>

</footer>