:host {
	position: relative;
	display: block;
	border-top: 2px solid #ddd;
	mask: linear-gradient(90deg, transparent 0%, black 15%, black 85%, transparent 100%);
	width: 100%;
	background-color: rgba(0, 0, 0, 0.33);
	backdrop-filter: contrast(0.85);
}

footer {
	text-align: center;
	padding: 0.5rem;

	.footer-content {
		display: flex;
		align-items: center;
		gap: 2rem;
		padding: 2rem 0;
	}

	.footer-logo {
		height: 3.5rem;
		width: 3.5rem;
		padding-inline: 2rem;
		filter: grayscale(1) brightness(1.3);
		align-self: center;
		justify-self: center;

		&-img {
			filter: grayscale(1) brightness(1.3);
		}
	}

	.footer-columns {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		// gap: 2rem;
		width: 100%;
		max-width: 1200px;
		text-align: left;
	}

	.footer-column {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		h3 {
			font-family: 'Montserrat', sans-serif;
			font-size: 1rem;
			font-weight: 600;
			color: #ccc;
			margin: 0 0 0.5rem 0;
			text-transform: uppercase;
			letter-spacing: 0.5px;
		}

		a {
			text-decoration: none;
			color: #aaa;
			font-weight: 400;
			font-size: 0.75rem;
			line-height: 1.4;
			cursor: pointer;

			&:hover {
				color: #fff;
				// font-style: italic;
			}
		}

		.social-icons {
			display: flex;
			gap: 0.75rem;

			&:first-of-type {
				margin-top: 0.5rem;
			}

			.social-icon {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				filter: grayscale(.2);

				&:hover img, a {
					filter: brightness(1.3);
				}
			}
		}

		.whatsapp-link {
			width: 90px;
			margin-top: 5px;
			display: inline-flex;

		}
	}

	p {
		font-family: 'Montserrat', sans-serif;
		margin: 0;
		font-size: 80%;
		color: #666;
	}
}

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */

@media (max-width: 768px) {
	:host {}

	footer {

		.footer-columns {
			grid-template-columns: repeat(2, 1fr);
			gap: 2rem;
			text-align: center;
			text-align: center;
		}

		.footer-content {
			padding: 1.5rem 1rem;
		}

		.social-icons {
			align-self: center;
		}
	}
}