<flaux-section [height]="'100dvh'">
	<!-- <@if (isMobile()) {> -->
	<flaux-hls class="video-container"
				  [style]="{ filter: 'brightness(0.85)' }"
				  [posterUrl]="posterUrl"
				  [hlsUrl]="hlsUrl"></flaux-hls>
	<!-- } @else {
	@defer (on viewport) {
	<flaux-prismatic-burst [intensity]="4"
								  [speed]="0.5"
								  [distort]="2"
								  [animationType]="'rotate3d'">
	</flaux-prismatic-burst>
	} @placeholder {
	<div class="placeholder-bg"></div>
	}
	} -->
	<div class="content-container">
		<div class="content-txt">
			<h3>Custom <mobile><br></mobile><span class="ai">aI</span>
				<mobile><br></mobile> Solutions
			</h3>
			<br>
			<flaux-rotating-text [texts]="questions"
										[staggerDuration]="35"
										[topBar]="true"
										staggerFrom="first"
										[rotationInterval]="8500">
			</flaux-rotating-text>
			<!-- <div class="subheading">
				<p>For All The Ways Your @if(isMobile()){<br>}Business <strong><em>Flows</em></strong></p>
			</div> -->
			<flaux-btn routerLink="/contact"
						  [height]="'2rem'"
						  [width]="'15rem'"
						  [backgroundColor]="'blue'">
				<flaux-fn italicText="ƒlaux"
							 fnText="LET'S TALK"></flaux-fn>
			</flaux-btn>
		</div>
		<div class="marquee-wrapper">
			<flaux-icon-marquee [animationSpeed]="80"
									  [iconSize]="'1.5em'"
									  [gapSize]="'0.75em'"
									  [iconFiles]="aiMarqueeFiles">
			</flaux-icon-marquee>
		</div>
	</div>
</flaux-section>