<flaux-section [height]="'100dvh'">
	@if (isMobile()) {
	<flaux-hls class="video-container"
				  [style]="{ filter: 'brightness(0.85)' }"
				  [posterUrl]="posterUrl"
				  [hlsUrl]="hlsUrl"></flaux-hls>
	} @else {
	@defer (on viewport) {
	<flaux-prismatic-burst [intensity]="4"
								  [speed]="0.5"
								  [distort]="2"
								  [animationType]="'rotate3d'">
	</flaux-prismatic-burst>
	} @placeholder {
	<div class="placeholder-bg"></div>
	}
	}
	<div class="content-container">
		<div class="content-txt">
			<h3>Custom @if(isMobile()){<br>}<span class="ai">aI</span> @if(isMobile()){<br>} Solutions</h3>
			<div class="subheading">
				<p>For All The Ways Your @if(isMobile()){<br>}Business <strong><em>Flows</em></strong></p>
			</div>
		</div>
		<div class="marquee-wrapper">
			<flaux-icon-marquee [animationSpeed]="80"
									  [iconSize]="'1.7em'"
									  [gapSize]="'0.66em'"
									  [iconFiles]="aiMarqueeFiles">
			</flaux-icon-marquee>
		</div>
	</div>
</flaux-section>