@use 'variables' as *;
@use 'animations' as *;

:host {
	display: block;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	background-color: black;
}

/* ----------------------------------- // ----------------------------------- */

::ng-deep {
	flaux-hls {
		margin-top: -14em;

		.video {
			mask: radial-gradient(circle, black 37%, transparent 66%);
			animation: hueRotate 12s linear infinite !important;
			animation-delay: 0s;
		}
	}
}

flaux-prismatic-burst {
	width: 100%;
	height: -webkit-fill-available;
	position: absolute;
	max-width: 1800px;
	mask: radial-gradient(circle at center, rgba(0, 0, 0, 0.3) 0%, black 20%);
}

.placeholder-bg {
	width: 100%;
	height: 100%;
	position: absolute;
	background: radial-gradient(circle at center, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
}

.content-container {
	position: relative;
	z-index: 3;
	user-select: none;
	color: white;
	padding: 3em !important;
	gap: 5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: -webkit-fill-available;

	.content-txt {
		flex: 1;
		position: relative;
		justify-self: flex-end;
		z-index: 1;
		color: white;
		text-align: center;
		align-content: space-around;
		bottom: 0;

		h3 {
			font-family: 'script2';
			font-size: 5rem;
			font-weight: normal;
			line-height: 1.3em;
			-webkit-text-stroke: 2px;
			text-shadow: 0 0 0.66rem rgba(0, 0, 0, 0.8);

			.ai {
				position: relative;
				font-family: 'Lequire', sans-serif;
				top: 0.1em;
				font-size: 1.5em;
				color: white;
				filter: drop-shadow(0 0 0.5rem white) brightness(1.05) opacity(0.9);
				mask-clip: text;
				text-shadow: 9px 5px 0rem $flaux-violet,
					5px 9px 0rem $flaux-orange,
					-5px 6px 0rem $flaux-salmon,
					-5px -5px 0rem $flaux-blue;
				// text-shadow: none !important;
				-webkit-text-stroke: 1px #fff;
			}
		}

		flaux-btn {
			top: 4rem;
			position: relative;
			animation: hueRotate 12s linear infinite !important;
			animation-delay: 0s;
		}

		.subheading {
			line-height: 1.66;
			color: #ccc;
			font-size: 1.66em;
			margin-top: 2.5em;
			letter-spacing: 0.05em;
			word-spacing: 0.05em;
			font-weight: 300;

			strong {
				font-weight: 600;
			}
		}
	}
}

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */

@media (min-width: 1800px) {
	.agency-hero-section, .content-section {
		max-width: 1700px;
		margin: auto;
	}

	flaux-prismatic-burst {
		mask: radial-gradient(circle farthest-side, black 60%, transparent 100%);
	}
}

@media screen and (max-width: 900px) {
	.content-container {
		gap: 2em;

		.content-txt {
			h3 {
				font-size: 4.5rem;
			}

			p {
				text-shadow: 0.05rem 0.05rem 0.33rem black
			}
		}
	}
}

@media (max-width: 768px) {

	.content-container {
		padding: 4em 2.5em 3em !important;

	}

	::ng-deep {
		flaux-hls {
			margin-top: -18em;
		}
	}

	.content-txt {
		h3 {
			font-size: 4.0rem !important;
		}
	}
}