:host {
  width: auto;
  height: 50vh;
  padding: 5vw;
  display: flex;
  background-color: #111;
  color: white;
  overflow: hidden;
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  // flex-direction: column;
  // justify-content: center;
  align-items: center;
  // text-align: center;
}
