:host {
	width: inherit;
	height: inherit;
}

@keyframes hue-rotate-animation {
	0% {
		filter: hue-rotate(0deg) brightness(0.9) contrast(1.3) saturate(0.8);
	}

	100% {
		filter: hue-rotate(360deg) brightness(0.9) contrast(1.3) saturate(0.8);
	}
}

@keyframes pulse {
	0% {
		transform: scale(1) perspective(1px);
		opacity: 0.8;
	}

	50% {
		transform: scale(1.03) perspective(10px);
		opacity: 1;
	}

	100% {
		transform: scale(1) perspective(1px);
		opacity: 0.8;
	}
}

.cta-section {
	background: url("../../../../assets/img/fractal2.png");
	background-size: cover;
	// font-size: clamp(1.67rem, 3vw, 3rem);
	// padding-inline: 6vw;
	text-align: center;
	display: flex;
	transition: all 3s ease-in-out;
	filter: hue-rotate(0deg) brightness(0.9) contrast(1) saturate(0.9);
	animation: hue-rotate-animation 20s linear infinite;
}

.cta-content-left {
	flex: 1;
	font-family: "Raleway", sans-serif;
	text-align: -webkit-center;
	display: flex;
	flex-direction: column;
	position: relative;
	margin-top: 3em;
	font-size: 1.5rem;
	// filter: brightness(1.25) opacity(0.9) contrast(0.95) drop-shadow(2px 2px 4px black);

	flaux-btn {
		margin: 1.5em 0 !important;
	}
}

.cta-content-right {
	display: flex;
	flex: 1;
}

.img-wrapper {
	filter: invert(0.5) contrast(2);
	height: 3em;
	width: 3em;
	position: relative;
	left: -6.5em;
	top: -3.5em;
	align-self: center;
}