@use 'variables' as *;

:host {
	display: flex;
	width: inherit;
	height: inherit;
	// background-color: #111;
}

@keyframes hue-rotate-animation {
	0% {
		filter: hue-rotate(0deg) brightness(0.9) contrast(1.3) saturate(0.8) invert(1);
	}

	100% {
		filter: hue-rotate(360deg) brightness(0.9) contrast(1.3) saturate(0.8) invert(1);
	}
}

.cta-section {
	// background: radial-gradient(circle 50vw at 15%, $flaux-blue 20%, $flaux-blue2 60%, $flaux-violet 120%, black 180%);
	// font-size: clamp(1.67rem, 3vw, 3rem);
	// padding-inline: 6vw;
	max-width: 1600px;
	text-align: center;
	display: flex;
	transition: all 3s ease-in-out;
	filter: hue-rotate(0deg) brightness(0.9) contrast(1) saturate(0.9);
	// animation: hue-rotate-animation 20s linear infinite;

	&::after {
		content: '';
		// background: url('../../../../assets/img/bg/6d348869-900d-4cc3-93d9-e56ac6d6b9ef.jpg') no-repeat center center;
		filter: invert(1);
		opacity: 0.2;
		background-position: right;
		position: absolute;
		inset: 0;
		mix-blend-mode: hard-light;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
}

.cta-content-left {
	flex: 1;
	display: flex;
	flex-direction: column;
	position: relative;
	margin-top: 3em;
	font-size: 1.5rem;
	color: white;
	// filter: brightness(1.25) opacity(0.9) contrast(0.95) drop-shadow(2px 2px 4px black);

	flaux-btn {
		margin: 2em 0 !important;
	}
}

.cta-content-right {
	display: flex;
	flex: 1;
}

.img-wrapper {
	filter: invert(0.85) contrast(2);
	height: 3em;
	width: 3em;
	position: relative;
	left: -6.75em;
	top: -4em;
	align-self: center;
}

@media screen and (max-width: 900px) {
	.cta-section {
		background: linear-gradient($flaux-blue 20%, $flaux-blue2 60%, $flaux-violet 120%, black 180%);
		display: grid;
		grid-template-rows: 1fr 1fr;
		padding: 2em 0;
	}

	.cta-content-left {
		align-self: flex-end;
		margin-bottom: -2em;
		// 	font-size: 1.25rem;

		// 	flaux-btn {
		// 		margin: 1.5em 0 !important;
		// 	}
	}

	.cta-content-right {
		// margin-top: 2em;

		flaux-lottie {
			max-width: 80%;
			margin: auto;
			padding-inline: 18% 15%;
		}
	}

	// .img-wrapper {
	// 	left: 0;
	// 	top: 0;
	// 	height: 6em;
	// 	width: 6em;
	// }
}