@use 'variables' as *;

:host {
	display: block;
}

/* ----------------------------------- // ----------------------------------- */

.section-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;

	border-radius: 6em;
	padding-block: 2.5em;
	padding-inline: 0 3em;
	backdrop-filter: blur(2rem) brightness(1.2) contrast(0.7);
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.6);
	gap: 2em;
	min-height: 26em;

	&.reverse {
		flex-direction: row-reverse;
		padding-inline: 3em 0;
	}

	.image-wrapper {
		flex: 4;
		position: relative;
		padding-inline: 1em;
		width: 100%;
		min-width: 8em;
		height: -webkit-fill-available;
		display: flex;
		justify-content: center;
		align-items: center;

		flaux-blob-backdrop {
			position: absolute;
			z-index: 0;
			width: 100%;
		}

		img {
			position: absolute;
			filter: drop-shadow(.5em .5em 0.5em rgba(40, 40, 40, 0.4));
			max-height: 200%;
			max-width: 105%;
			transition: transform 0.3s ease, opacity 1.5s ease-in-out;

			&.carousel-image {
				opacity: 0;

				&.active {
					opacity: 1;
				}
			}

			&.hovered {
				transform: scale(1.04);
			}
		}


	}

	.content-wrapper {
		flex: 4;
		display: flex;
		padding: 0;
		flex-direction: column;
		align-items: center;
		text-align: center;
		align-self: flex-start;
		height: -webkit-fill-available;

		h1, h2, h3, h4 {
			font-weight: 500;
			font-size: clamp(1rem, 3.6vw, 3rem);
			letter-spacing: .05em;
			line-height: 1em;
			font-family: 'Josefin Sans', sans-serif;

			.icon-img {
				// max-width: 0.8em;
				position: absolute;
				filter: grayscale(1);
				font-size: 5em;
				width: 1em;
				opacity: .17;
				top: 0.06em;
				z-index: -1;

				&.left {
					left: 0.09em;
				}

				&.right {
					right: 0.09em;
				}

				&.extra-spacing {
					left: 0.2em;
				}
			}

		}

		p {
			flex: 1;
			align-content: center;
		}
	}
}

.margin-left {
	margin-left: -10%;
	margin-top: -3%;
}

.margin-right {
	margin-right: -10%;
	margin-top: -3%;
}

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */

@media screen and (max-width: 1200px) {
	.icon-img {
		font-size: 10em;
		opacity: 0.1;
	}
}

@media screen and (max-width: 900px) {

	:host {
		height: -webkit-fill-available;
		padding-block: 2rem;
	}

	.section-wrapper {
		border-radius: 4em 4em;
		height: -webkit-fill-available;
		width: fit-content;
		margin: 1.5em;
		gap: 6em !important;
		flex-direction: column-reverse !important;
		padding-inline: 1.5em !important;

		.content-wrapper {
			flex: 1 !important;

			h2 {
				padding-inline: 3.3em !important;
			}

			p {
				padding-inline: 1em;
				margin-block: 1.5em;
			}
		}

		.image-wrapper {
			flex: 2 !important;
			min-height: 13em !important;
			width: 100% !important;
			padding-inline: 0 !important;

			img {
				max-width: 99% !important;
				max-height: 115% !important;
			}

			flaux-blob-backdrop {
				width: 120%;
				max-height: 18em !important;
			}

			.margin-right {
				margin-right: 3% !important;
			}

			.margin-left {
				margin-left: -3% !important
			}
		}
	}

	.icon-img {
		margin: auto !important;

		&.left {
			left: 40% !important;
			right: 40% !important;
		}

		&.right {
			right: 40% !important;
			left: 40% !important;
		}
	}
}