<div class="section-wrapper"
	  [class.reverse]="imagePosition === 'right'">

	<!-- ------------------------------- IMAGES -------------------------------- -->

	@if (imageUrls?.length || imageUrl) {
	<div class="image-wrapper"
		  (mouseenter)="onImageHover(true)"
		  (mouseleave)="onImageHover(false)">
		@if (blobBackdrop) {
		<flaux-blob-backdrop [ngClass]="{'margin-left': imagePosition === 'left', 'margin-right': imagePosition === 'right'}"
									[blobCount]="1"
									[blob1Scale]="1.5"
									[imageUrls]="imageUrls || []"
									[animate]="false"></flaux-blob-backdrop>
		}
		@else if (imageUrls && imageUrls.length > 1) {
		@for (url of imageUrls; track url; let i = $index) {
		<img [ngClass]="{'margin-left': imagePosition === 'left', 'margin-right': imagePosition === 'right'}"
			  class="carousel-image"
			  [src]="url"
			  [alt]="imageAlt"
			  [class.active]="i === currentImageIndex"
			  [class.hovered]="isHovered" />
		}
		} @else {
		<img [src]="currentImageUrl"
			  [alt]="imageAlt"
			  [class.hovered]="isHovered" />
		}
	</div>
	}

	<!-- ---------------------------- TEXT CONTENT ----------------------------- -->

	@if (title || description) {
	<div class="content-wrapper">
		@if (title) {
		<h2>{{title}}
			@if (titleSpacing) {&nbsp;}
			@if (titleIcon) {<img class="icon-img"
				  [src]="titleIcon"
				  [ngClass]="{'left': imagePosition === 'right', 'right': imagePosition === 'left', 'extra-spacing': title === 'SOCIAL MEDIA MANAGEMENT'}"
				  [alt]="titleIconAlt" />}</h2>
		}
		@if (description) {
		<p>{{description}}</p>
		}

		<!-- --------------------------- CONTENT SLOT ------------------------------ -->

		<ng-content></ng-content>

	</div>
	}


</div>