@use 'variables' as *;

:host {
	display: block;
}

/* ----------------------------------- // ----------------------------------- */

.section-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;

	border-radius: 6em;
	padding: 2.5em 3em;
	backdrop-filter: blur(2rem) brightness(1.2) contrast(0.7);
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.6);
	gap: 2em;

	&.reverse {
		flex-direction: row-reverse;
	}

	.image-container {
		flex: 4;
		position: relative;
		padding-inline: 1em;
		width: 100%;
		height: -webkit-fill-available;
		display: flex;
		justify-content: center;
		align-items: flex-start;

		flaux-blob-backdrop {
			position: absolute;
			z-index: 0;
			width: 120%;
		}

		img {
			position: absolute;
			filter: drop-shadow(.5em .5em 0.5em rgba(40, 40, 40, 0.4));
			max-height: 200%;
			max-width: 107%;
			transition: transform 0.3s ease, opacity 1.5s ease-in-out;

			&.carousel-image {
				opacity: 0;

				&.active {
					opacity: 1;
				}
			}

			&.hovered {
				transform: scale(1.05);
			}
		}


	}

	.content-wrapper {
		flex: 4;
		display: flex;
		padding: 0;
		flex-direction: column;
		align-items: center;
		text-align: center;
		align-self: flex-start;

		h1, h2, h3, h4 {
			font-weight: 500;
			font-size: 2.5em;
			letter-spacing: .05em;
			line-height: 1em;
			font-family: 'Josefin Sans', sans-serif;

			img {
				max-width: 0.8em;
				margin-left: 0.15em;
				margin-bottom: 0.33em;
			}
		}
	}
}

.margin-left {
	margin-left: -10%;
	margin-top: -3%;
}

.margin-right {
	margin-right: -10%;
	margin-top: -3%;
}