:host {
	display: flex;
	background: black;
}

.spiral-container {
	flex: 2;
}

.feature-content {
	z-index: 1;
	position: relative;
	color: white;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	margin: auto 10em;
	height: 100%;
	width: 100%;
	font-size: 150%;
}

.lottie-container {
	flex: 1;
	align-items: center;
	justify-content: center;
	display: flex;
}