// Mixin for pattern background with gradient and blend mode
// $image-filename: name of texture from transparenttextures.com (without .png extension)
// $gradient: gradient to overlay
// $pattern-size: size of pattern (e.g., auto, cover, repeat, 50%); default is repeat
// $blend-mode: blend mode to use (e.g., overlay, difference, multiply); default is overlay
@mixin pattern-background($image-filename, $gradient, $pattern-size: repeat, $blend-mode: overlay) {
	background: url('https://www.transparenttextures.com/patterns/#{$image-filename}.png'),
	$gradient;
	background-size: $pattern-size, cover;
	background-position: center, center;
	background-blend-mode: $blend-mode;
}

// Reusable hover effect for capability cards
// $scale: e.g., 101%; $contrast: e.g., 110%;
// $img-translate-y: set to a percentage to lift image; null to skip
@mixin hover-lift($scale: 101%, $contrast: 110%, $img-translate-y: -5%, $img-translate-x: null) {
	transform: scale($scale);
	filter: contrast($contrast);
	// backdrop-filter: contrast($contrast);

	img {
		transform: translateY($img-translate-y);

		@if $img-translate-x !=null {
			transform: translate($img-translate-x, $img-translate-y);
		}
	}
}

// Reset Angular Material button typography variables to initial
@mixin reset-mat-styles-due-to-vendasta-chat() {
	$types: 'text', 'filled', 'outlined', 'protected', 'elevated', 'tonal';

	// Button resets
	@each $type in $types {
		--mat-button-#{$type}-label-text-font: initial !important;
	}

	// Expansion panel resets
	--mat-expansion-header-text-color: initial !important;
	--mat-expansion-header-text-font: initial !important;
	--mat-expansion-container-text-color: initial !important;
	--mat-expansion-header-indicator-color: initial !important;
	--mat-expansion-header-disabled-state-text-color: #ccc !important;
	--mat-expansion-header-disabled-state-text-font: initial !important;

	// Form field resets
	--mat-form-field-outlined-outline-color: initial !important;
	--mat-form-field-outlined-hover-outline-color: initial !important;
	--mat-form-field-outlined-focus-outline-color: initial !important;
	--mat-form-field-outlined-label-text-color: initial !important;
	--mat-form-field-outlined-input-text-color: initial !important;
	--mat-form-field-outlined-focus-label-text-color: initial !important;
	--mat-form-field-outlined-hover-label-text-color: initial !important;
	--mat-form-field-outlined-input-text-placeholder-color: #999 !important;
	--mat-form-field-outlined-error-label-text-color: initial !important;

	--mat-select-enabled-trigger-text-color: initial !important;

	--mat-sys-on-surface: initial !important;
	--mat-sys-on-surface-variant: light-dark(#111, #ccc) !important;
	--mdc-filled-text-field-input-text-placeholder-color: initial !important;

	// Checkbox resets
	--mat-checkbox-unselected-focus-icon-color: initial !important;
	--mat-checkbox-unselected-hover-icon-color: initial !important;
	--mat-checkbox-unselected-icon-color: initial !important;
}