$highlight-color: #7fd7ff;
// $highlight-color: #ffbb00;
$flaux-violet: #2b3a84;
$flaux-blue3: #143456;
$flaux-blue2: #2a6eb6;
$flaux-blue: #2fb2e6;
$flaux-purple: #9556a2;
$flaux-pink: #dd569f;
$flaux-yellow: #fce25d;
$flaux-orange: #faaf53;
$flaux-salmon: #f06b86;