@use 'variables';

/* You can add global styles to this file, and also import other style files */
@keyframes ripple-animation {
	to {
		transform: scale(3);
		opacity: 0;
	}
}

.ripple {
	position: absolute;
	border-radius: 50% !important;
	background: rgba(255, 255, 255);
	opacity: 0.7;
	transform: scale(0);
	animation: ripple-animation 0.6s linear;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat';
	font-size: 16px;
}

a {
	user-select: none;
	text-decoration: auto;
}

h1, h2, h3, h4, h5, h6 {
	// letter-spacing: 10%;
}

h1 {
	font-size: clamp(1rem, 4.5vw, 6rem);
	margin: 0.15em 0;
}

h2 {
	font-size: clamp(0.9rem, 4vw, 5rem);
	margin: 0.5em 0;
}

h3 {
	font-size: clamp(0.8rem, 3vw, 4rem);
	margin: 0.5em 0;
}

h4 {
	font-size: clamp(0.75rem, 2.5vw, 3.25rem);
	margin: 0.5em 0;
}

h5 {
	font-size: clamp(0.7rem, 3vw, 2.5rem);
	margin: 0.5em 0;
}

h6 {
	font-size: clamp(0.5rem, 1.5vw, 1.5rem);
	margin: 0.5em 0;
}
