<flaux-section>
  <flaux-fn italicText="flaux" fnText="TBD"></flaux-fn>
  <!-- In any parent component template -->
  <flaux-quote-highlight [quoteStart]="'Businesses with a 4+ star rating'" [highlight]="'earn 28% more'"
                         [quoteEnd]="'in annual revenue than those who don’t'" [source]="'Womply'">
  </flaux-quote-highlight>
  <flaux-quote-highlight [quoteStart]="'Capture hundreds of qualified leads in months: partners using AI-powered receptionist tools have generated '"
                         [highlight]="'700+ high-quality leads in just 4 months'" [quoteEnd]="''" [source]="'Elite Web Pros'">
  </flaux-quote-highlight>
  <flaux-quote-highlight [quoteStart]="'AI Receptionist tools cut response times from 24–48 hours to under 30 seconds, resulting in '"
                         [highlight]="'a 70% ROI boost'" [quoteEnd]="''" [source]="'Live360 Marketing'">
  </flaux-quote-highlight>
  <flaux-quote-highlight [quoteStart]="'Clients using our SMS Business App see'"
                         [highlight]="'3× more engagement'" [quoteEnd]="'compared to those without'"
                         [source]="''">
  </flaux-quote-highlight>
</flaux-section>
