.quote-highlight-container {
	background: rgba(10, 10, 10, 0.7);
	backdrop-filter: blur(8px) contrast(0.9);
	color: #fff;
	padding-block: 1.25rem;
	padding-inline: 1.25rem;
	margin: 1em;
	font-family: 'Raleway', Arial, sans-serif;
	box-shadow: 0.66rem 0.66rem .1rem rgba(0, 0, 0, 0.9);
}

.quote-text {
	font-weight: 500;
	line-height: 1.5;
}

.highlight {
	background: #ff2d6f;
	color: #fff;
	padding: 0 0.3em 0.1em;
	// border-radius: 0.3em;
	font-weight: bold;
}

.highlight-flaux {
	background: #2FB1E5;
	color: #fff;
	padding: 0 0.3em 0.1em;
	// border-radius: 0.3em;
	font-weight: bold;
}

.quote-source {
	margin-top: 1em;
	font-size: 0.8em;
	color: #888;
}