.quote-highlight-container {
  background: #0a0a0a;
  color: #fff;
  padding-block: 1.5rem;
  padding-inline: 2rem 0;
  max-width: 500px;
  font-family: 'Raleway', Arial, sans-serif;
  box-shadow: 0.66rem 0.66rem .1rem rgba(0, 0, 0, 0.9);
}

.quote-text {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.3;
}

.highlight {
  background: #ff2d6f;
  color: #fff;
  padding: 0 0.3em 0.1em;
  // border-radius: 0.3em;
  font-weight: bold;
}

.quote-source {
  margin-top: 1.5rem;
  font-size: 1rem;
  color: #777;
}
