:host {
	display: block;
}

.trunks-container {
	// background: url("../../../../assets/img/bg/10.jpg");
	// background-position-y: center;
	// background: url("../../../../assets/img/bg/test1.jpg");
	// background-position-y: 25%;
	// background-position-y: bottom;
	// background-size: cover;
	// filter: saturate(0.5) brightness(0.8); // Reduces saturation to 50% and brightness to 80%
	// background: black;
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	// font-size: clamp(1.20rem, 1.1vw, 1.75rem);
	font-family: "Raleway", sans-serif;

	h1, h2, h3, h4, h5, h6 {
		font-weight: normal !important;
		font-size: 175% !important;
		// white-space: nowrap;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: url("../../../../assets/img/bg/18.jpg"), #111;
		background-position-y: 25%;
		background-size: cover;
		z-index: -1;
		filter: blur(2px) brightness(0.5) contrast(1.2);
	}
}

.left, .right {
	// background: url("../../../../assets/img/v-bg.webp");
	background-size: cover;
	flex: 1;
	height: -webkit-fill-available;
	padding: 3em;
	display: flex;
	align-items: center;
	justify-content: center;

	&-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: -webkit-fill-available;
	}
}

.left {
	// backdrop-filter: brightness(1.1) saturate(0.5);
	padding-inline: 3em 5em;
	background: radial-gradient(circle FARTHEST-side at 100%,
			transparent 70%,
			rgb(0, 0, 0) 100%);
	text-align: right
}

.right {
	// backdrop-filter: brightness(1.1) saturate(0.5);
	padding-inline: 5em 3em;
	background: radial-gradient(circle FARTHEST-side at 0%,
			transparent 70%,
			rgb(0, 0, 0) 100%);
	text-align: left;
}

.text-block {}

#logoFont {
	text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
	.trunks-container {
		flex-direction: column;
		height: auto;
	}
}

.laser-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	overflow: hidden;
	z-index: 0;
}