<flaux-section class="trunks-container"
					[blockPadding]="'0'"
					[inlinePadding]="'0'">
	<section class="left">
		<div class="feature-content">
			<h3>Grow with <span id="logoFont"
						class="logo-font">FLaUX AI</span></h3>
			<p>Empowering your business with cutting-edge AI solutions.</p>
			<p>Leverage the power of AI to streamline operations, enhance customer experiences, and drive innovation. Our tailored solutions are designed to meet your unique business needs.</p>
			<flaux-btn>How can I 10x my business?</flaux-btn>
		</div>
	</section>
	<section class="right">
		<div class="feature-content">
			<h3><span id="logoFont"
						class="logo-font">FLaUX AGENCY</span> Solutions</h3>
			<p>Complete digital marketing and web solutions for your business.</p>
			<p>From CRM and SEO to social media management and SMS marketing, we provide everything you need to establish a strong digital presence&mdash;empowering your business to lead, not chase.</p>
			<flaux-btn>Am I truly owning my digital presence?</flaux-btn>
			<!-- <div class="feature-title">
		<flaux-fn italicText="flaux" fnText="TIME"></flaux-fn>
	 </div> -->
		</div>
	</section>
</flaux-section>