@use 'variables' as *;

/* colors come from host-level CSS variables set by TS getters */
:host {
	--blob1: hsl(220 80% 80%);
	/* deepest (auto) */
	--blob2: hsl(220 70% 55%);
	/* primary (input) */
	--blob3: #111111;
	/* foremost (auto for 3) */

	/* Let parent control size; this gives a sensible default */
	display: block;
	position: relative;
	width: 100%;
	aspect-ratio: 16 / 9;
}


.container {
	display: flex;
	width: 100%;
	height: 100%;
	gap: 4em;
}

.wrap {
	position: relative;
	flex: 1;
	height: 100%;
	overflow: visible;
}

/* shared blob styles */
.blob {
	position: absolute;
	inset: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	opacity: 0.80;
	pointer-events: none;
	transform-origin: 47% 57%;
	z-index: 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	animation: blobFloat 7s ease-in-out infinite;
}

@keyframes blobFloat {
	0%, 100% {
		width: 100%;
		filter: hue-rotate(0);
	}

	50% {
		width: 55%;
		filter: hue-rotate(30deg);
	}
}

/* deepest (lightest) - large background blob */
.b1 {
	background: var(--blob1);
	transform: translate(0%, -15%) scale(var(--blob1-scale)) rotate(var(--blob1-rotate));
	opacity: 0.7;
	mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 350"><path fill="white" d="M156.4,339.5c31.8-2.5,59.4-26.8,80.2-48.5c28.3-29.5,40.5-47,56.1-85.1c14-34.3,20.7-75.6,2.3-111c-18.1-34.8-55.7-58-90.4-72.3c-11.7-4.8-24.1-8.8-36.8-11.5l-0.9-0.9l-0.6,0.6c-27.7-5.8-56.6-6-82.4,3c-38.8,13.6-64,48.8-66.8,90.3c-3,43.9,17.8,88.3,33.7,128.8c5.3,13.5,10.4,27.1,14.9,40.9C77.5,309.9,111,343,156.4,339.5z"/></svg>');
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
}

/* middle (primary) - main central blob */
.b2 {
	background: var(--blob2);
	transform: translate(10%, -5%) scale(var(--blob2-scale)) rotate(var(--blob2-rotate));
	opacity: 0.77;
	mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 340"><path fill="white" d="M180.2,325.8c28.5-5.2,52.8-22.4,71.5-42.1c25.1-26.4,35.8-41.2,48.9-74.8c11.8-30.2,17.2-66.5,0.8-97.8c-16.1-30.8-49.2-51.2-79.8-63.7c-10.3-4.2-21.2-7.7-32.4-10.1l-0.8-0.8l-0.5,0.5c-24.4-5.1-49.9-5.3-72.7,2.6c-34.2,12-56.4,43-58.9,79.6c-2.6,38.7,15.7,77.8,29.7,113.5c4.7,11.9,9.2,23.9,13.1,36.1C106.2,298.4,135.1,327.2,180.2,325.8z"/></svg>');
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
}

/* foremost - smaller accent blob */
.b3 {
	background: var(--blob3);
	transform: translate(10%, 0%) scale(var(--blob3-scale)) rotate(var(--blob3-rotate));
	opacity: 0.85;
	mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 330"><path fill="white" d="M145.8,315.2c26.1-4.8,46.9-20.5,63.4-38.5c22.3-24.1,31.8-37.6,43.4-68.3c10.4-27.6,15.2-60.7,0.7-89.4c-14.3-28.1-43.6-46.8-70.8-58.2c-9.1-3.8-18.8-7-28.7-9.2l-0.7-0.7l-0.4,0.4c-21.6-4.7-44.3-4.8-64.5,2.4c-30.3,10.9-50.1,39.3-52.3,72.7c-2.3,35.3,13.9,71.1,26.3,103.6c4.2,10.8,8.1,21.8,11.6,33C81.2,291.2,106.4,316.9,145.8,315.2z"/></svg>');
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
}

/* image on top */
.hero {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 12px;
}
