@use 'variables' as *;

:host {
	display: flex;
}

.mkt-ai-section {
	background: linear-gradient(180deg, $flaux-orange 0%, $flaux-salmon 40%, $flaux-blue2 85%, $flaux-blue3 105%);
	backdrop-filter: brightness(0.8) saturate(1.2);
	position: relative;
	z-index: 0;
	background-size: cover;

	&::after {
		content: "";
		background: url('../../../../assets/img/bg/6d348869-900d-4cc3-93d9-e56ac6d6b9ef.jpg') no-repeat center center;
		// transform: rotate(90deg);
		background-size: cover;
		transform-origin: center;
		height: 100%;
		// z-index: -1;
		position: absolute;
		inset: 0;
		pointer-events: none;
		opacity: 0.35;
		z-index: -1;
		mix-blend-mode: overlay;
	}
}