@use 'variables' as *;

:host {
	display: flex;
	position: relative;
}

.carousel-bg {
	position: absolute;
	inset: 0;
	background: url('../../../../assets/img/bg/1.jpg') no-repeat center center;
	background-size: cover;
	height: auto;
	width: 100%;
	opacity: 1;
	// filter: blur(4px) brightness(0.7) contrast(1.2);
	z-index: 0;
	mix-blend-mode: screen;
}

.mkt-ai-section {
	// background: linear-gradient(180deg, $flaux-orange 0%, $flaux-salmon 40%, $flaux-blue2 85%, $flaux-blue3 105%);
	// background: url('../../../../assets/img/bg/1.jpg') no-repeat center center;
	// opacity: 0.;
	// backdrop-filter: brightness(0.8) saturate(1.2);
	position: relative;
	inset: 0;
	z-index: 0;
	background-size: cover;

	// &::before {
	// 	content: "";
	// 	// background: url('../../../../assets/img/bg/1.jpg') no-repeat center center;
	// 	// transform: rotate(90deg);
	// 	background-size: cover;
	// 	transform-origin: center;
	// 	height: 100%;
	// 	position: absolute;
	// 	inset: 0;
	// 	pointer-events: none;
	// 	opacity: 0.35;
	// 	z-index: -1;
	// 	mix-blend-mode: screen;
	// }
}