:host {
	display: flex;
}

.mkt-ai-section {
	// background: url('/assets/img/bg/18.jpg') no-repeat center center;
	background: radial-gradient(ellipse FARTHEST-side at top center,
			#fce25d 15%,
			#993793 60%,
			#000000 100%);
	position: relative;
	z-index: 0;
	background-size: cover;

}