.features2-section {
	// background: url('../../../../assets/img/bg-4.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	// filter: contrast(1.1);

	&::before {
		content: '';
		width: 100%;
		height: 10%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		// background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0))
	}

	&::after {
		content: '';
		width: 100%;
		height: 10%;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		// background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0))
	}
}