<flaux-section class="features2-section"
					[height]="'25vh'">
	<flaux-bg-video [name]="'meshnet'"
						 [vignette]="true"></flaux-bg-video>
	<flaux-quote-carousel [items]="quotes"
								 [intervalMs]="10000"
								 ariaLabel="Key business & AI impact statistics"
								 slideAriaDescription="quote">
		<ng-template #slideTemplate
						 let-quote
						 let-index="index">
			<flaux-quote-highlight [quoteStart]="quote.quoteStart"
										  [highlight]="quote.highlight"
										  [quoteEnd]="quote.quoteEnd"
										  [isFlaux]="quote.source === 'Flaux Research'"
										  [source]="quote.source !== 'Flaux Research' ? quote.source : ''"></flaux-quote-highlight>
		</ng-template>
	</flaux-quote-carousel>
</flaux-section>