.laser-flow-container {
	width: 100%;
	height: 100%;
	position: relative;
	pointer-events: none;
	box-sizing: border-box;
	overflow: hidden;

	canvas {
		width: 100% !important;
		height: 100% !important;
		display: block;
		margin: 0;
		padding: 0;
		border: none;
		outline: none;
		box-sizing: border-box;
	}
}